#fuenteNumImperdonable {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 600%;
		color: FE003D;
		padding-left: 10%;
	}
	
	.fuenteGrande {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 300%;
		color: FE003D;
	}
	
	* {
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 19px;
		letter-spacing: 0.4px;
		word-spacing: 0.4px;
		font-weight: normal;
		text-decoration: none;
		font-style: normal;
		font-variant: normal;
		text-transform: none;
	}
	
	.fuenteBold {
		font-weight: 700;
		font-size: 135%;
	}
	
	.marginTotal {
		width: 100%;
		float: left;
		margin-top: 1%;
	}
	
	.imagenBanner {
		width: 40%;
		height: 7%;
	}
	
	.main {
		float: left;
		width: 70%;
		margin-left: 2%;
	}
	
	.right {
		float: left;
		width: 28%;
		display: inline-block;
	}
	
	.left {
		float: left;
		display: none;
	}
	
	@media screen and (max-width:800px) {
		* {
			font-size: 100%;
		}
		.right {
			width: 100%;
			display: none;
		}
		.main {
			width: 100%;
		}
		.left {
			width: 100%;
			display: flex;
		}
		#fuenteNumImperdonable {
			font-size: 400%;
			padding-left: 5%;
		}
		.fuenteBold {
			font-weight: 500;
			font-size: 115%;
		}
		.imagenBanner {
			width: 30%;
		}

	}
	
	@media screen and (max-height:600px) {
		.imagenBanner {
			height: 20%;
		}
	}
		
	.centrar {
		margin: auto;
		text-align: center;
	}
	
	@media screen and (min-width:800px) {
		.tablahija {
			width: 80%;
			margin: auto;
			padding-bottom: 5%;
		}
	}	
	@media screen and (max-width:800px) {
		.tablahija {
			width: 80%;
			padding-bottom: 15%;
		}
	}
