

.dk-select, .dk-select *, .dk-select *:before, .dk-select *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
	    font-size: 12px;



}

.dk-select {
  position: relative;
  /*display: inline-block;*/
  vertical-align: middle;
  line-height: 1.5em;
  width:100%;
  cursor: pointer; 
  text-align: left;

/*width: 300px;*/
}

/*estilo original*/
/*.dk-selected {

  background-color: white;
  border: 1px solid #f2f2f2;
	border-bottom: 2px solid #cccccc;
  border-radius: 3px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; 
  background-image: url(../img/btn-flecha.png)	;
  background-repeat: no-repeat;
  background-position: right 15px top 10px;
	height: 40px;
	padding: 5px;
	margin-left: 3px;
	width: 300px;
	color: #aeaeae;
}*/
/*estilo modificado*/

.dk-selectedDos {
    background-color: white;
    border: 1px solid #979797;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-image: url(../img/arrow-input-dos.svg);
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
    height: 29px;
    padding-left: 6px;
    padding-top:5px;
    color: #b7b7b7;
    outline: none;
    margin-right: 6px;
    width: 100%;
    background-size:12px;
    font-weight:bold;
    font-size:0.9em;  
 

}





.dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0;
  right: 0; }
 .dk-select .dk-select-options span{
  position: absolute;
  display: none;
  left: 0;
  right: 0; }
/*submenu*/
.dk-select-options {
  background-color:#f2f1f2;
  list-style: none;
  margin: 0;
  max-height: 10.5em;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.25em 0;
  width: auto;
  z-index: 100;
  padding-top:0px;
  padding-bottom:0px;  
}
/*Submenu seleccionado*/
.dk-option-selected {
  background-color:#545559;
  color: #fff; 
  padding:4px; 
  
}
/*Submenu over*/
.dk-select-options .dk-option-highlight {background-color:#545559;color: #fff!important; padding:4px; cursor:pointer;  }
.dk-select-open-up .dk-selected:after, .dk-select-open-down .dk-selected:after {border-left-color: #6F7E95; }

.dk-select-open-up .dk-select-options, 
.dk-select-open-down .dk-select-options{
  display: block;
  border:1px solid #d7d7d7;
  border-color:#d7d7d7;  
}

select[data-dkcacheid] {display: none; }

.dk-select-options span { padding:10px;}

.dk-select-options li.dk-option{
    padding: 4px;
    color: #b9b9b9;
    font-weight: bold;
}
