
@import url('fonts.css');
/*
***************************
		RESET
***************************
*/
	html,body{
		width:100%;
		height:100%;  
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
		font-weight: normal;
    font-style: normal;
    font-size:12px;
    color:#56565a;
    background-color:#ffffff;
    font-family: 'Avenir_Next_Regular';
	}

	a{
		text-decoration:none;
		outline:none;
		color:#908c8c;
		cursor:pointer;
		z-index:20000; 
	}
  a:hover { 
    text-decoration: underline;
    color: #6bbd5b; font-family: 'Avenir_Next_Regular';
  }

.pointer {cursor: pointer;}
	b{font-family: 'Avenir_Next_Regular';}
	
	img{
		border:none; 
		margin:none;
	}

	label{
		margin-top:6px;
	}
  ul { list-style-type: none;}

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  input{outline:none!important; }

  input.input{
    width: 100%;
    height: 25px;
    border: 1px solid #979797;
  }

.fRight {float: right;}
/*
***************************
        GENERALES
***************************
*/


/*DIV TABLA*/
  .col1{
    width:100%;
    height: 100%;
    display: table;
    vertical-align: middle;
  }
  .col2{
    width:100%;
    vertical-align: middle;
    display: table-cell;
  }


  .table{
      width:100%;
      height: 100%;
      display: table;
      vertical-align: middle;
  }
  .cell {
      width:50%;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
  }

  .titprint {float: right;}
  .titprint img {width: 50px;}
  .auto{margin:0 auto; }

  .border {
      width:100%;
      background-color: #ffffff;
  }
  .overflow {
      overflow: auto;
      height: 100%;
      margin-bottom: 15px;
      padding-bottom: 0px;
  }
  .padding {
      margin: 15px;
  }
  .paddingMuser {
      margin:65px 65px;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; 
  }
  .mh177 {
      max-height:130px;
  }
  .mh200 {
      max-height:200px;
  }
  .mh260{
    max-height:260px;
  }
  .mh300 {
      max-height:300px;
  }
  .mh500 {
      max-height:500px;
  }
  .mh600 {
      max-height:600px;
  }

  .items {
    width: 100%;
    box-sizing: border-box;
  }
  .clear{clear:both; }
  .tleft{text-align:left;}
  .tright{text-align:right;}
  .tcenter{text-align:center;}

  .fright{float:right;}
  .fleft{float:left; }

  .w40{
    width:40%;
    float:left;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .w46a{
    width:46%;
    float:left;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .w46b{
    width:46%;
    float:right;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .w48a{
    width:48%;
    float:left;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .w48b{
    width:48%;
    float:right;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .w49a{
    width:49%;
    float:left;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .w49b{
    width:49%;
    float:right;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .w50{
    width:50%;
    float:left;
  }
  .w60{
    width:60%;
    float:left;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;   
  }
  .w100{width:100%;}

  .w100a{width:100%;}

  .w30c{
    width:30%;
    display:inline-block; 
  }
  .w30d{
    width: 29.6%;
    display: inline-block;
  }

  .w15c {
    width:20%;
    display: inline-block;
    padding-right:1%; 
  }

  .w1a{
    width:3%;
    display:inline-block; 
    text-align:center;
  }
  .vml{vertical-align: middle;}


  input[type=checkbox   ]:not(old),
  input[type=radio]:not(old){
    width   : 30px;
    margin-left  : 29; 
    padding : 0; 
    cursor: pointer; 
    opacity : 0;
  }


  input.ok[type=checkbox]:not(old) + label{
    display:inline-block;
    margin-left:-33px; 
    padding-left:28px;
    background:url('../../images/expancion/circulo.png') no-repeat 0 0;
    height:20px; 
    line-height:17px;
    height:20px;
    cursor:pointer; 
  }

  input.warning[type=checkbox]:not(old) + label{
    display:inline-block;
    margin-left:-33px; 
    padding-left:28px;
    background:url('../../images/expancion/warning.png') no-repeat 0 0;
    height:20px; 
    line-height:17px;
    height:20px;
    cursor:pointer; 
  }
  input[type=checkbox]:not(old):checked + label,
  input[type=radio]:not(old):checked + label{
    background-position: 0 -40px; 
  } 

 


  a.btn {
    /*! text-decoration: none; */
    line-height: 31px;
    background-color: transparent;
    /*! border: 1px solid #54555a; */
    /*! height: 30px; */
    /*! vertical-align: middle; */
    /*! text-align: center; */
    text-transform: uppercase;
    min-width: 170px;
    display: inline-block;
    border-radius: 9px 9px 9px 9px;
    font-size:10px; 
    overflow: hidden;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }
  a.arrowl div:nth-child(1){
    width:30px;
    float:left;
    background-color:#54555a;
  }
  a.arrowl div img:nth-child(1){
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  a.arrowr div:nth-child(1){
    width:30px;
    float:right;
    background-color:#54555a;
  }
  a.arrowr div img:nth-child(1){
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  a.bm{
    border: 1px solid #ffffff;
    color:#ffffff; 
  }
  

  
  a.arrowml div:nth-child(1){
    width:30px;
    float:left;
    background-color:#ffffff;

  }
  a.arrowml div:nth-child(1){
    width: 32px;
    height: 100%;
    background-image: url("../../images/expancion/arrowmleft.png");
    background-size:18px; 
    background-repeat:no-repeat; 
    background-position:center center; 
    vertical-align: middle;
  }

  a.btn:hover.arrowml div:nth-child(1){
    width: 32px;
    height: 100%;
    background-image: url("../../images/expancion/arrowleft.png");
    background-size:18px; 
    background-repeat:no-repeat; 
    background-position:center center; 
    vertical-align: middle;
  }
  a.arrowmr div:nth-child(1){
    width:30px;
    float:right;
    background-color:#ffffff;
  }
  a.arrowmr div:nth-child(1){
    width: 32px;
    height: 100%;
    background-image: url("../../images/expancion/arrowmright.png");
    background-size:18px; 
    background-repeat:no-repeat; 
    background-position:center center; 
    vertical-align: middle;
  }

  a.btn:hover.arrowmr div:nth-child(1){
    width: 32px;
    height: 100%;
    background-image: url("../../images/expancion/arrowright.png");
    background-size:18px; 
    background-repeat:no-repeat; 
    background-position:center center; 
    vertical-align: middle;
  }
  a.btn:hover{
    color:#6ead3b;
    border-color:#6ead3b;
  }
  a.btn:hover div:nth-child(1){
    background-color:#6ead3b;
  }


  a.busc {
    background-color: #4fad2f;
    border-color: #4fad2f;
    border-radius: 0px;
    color: #ffffff;
    height: 29px;
    margin-top: -3px;
    border: none;
    font-size:1em; 
    padding: 5px;
  }

  a.busc:hover {
    color:#ffffff;
    border-color:#8fe472;
    background-color:#8fe472;  
  }

  .fix{
    position:fixed; 
    top: 90px;
    left: 5%; right: 5%;
    bottom: 140px;
    border:1px solid silver;
  }

 .fix  iframe {
    position:absolute; 
    left: 0px; right: 0px;
    bottom: 0px; top: 0px;

  }
  .btnfix{
    position:fixed;
    bottom:60px;
    left:5%;

  }



/*
***************************
        CONTNEDOR
***************************
*/
	.page {
    	width:100%;
      /*height:100%;  */ 
      border-bottom: 50px solid #ffffff;
    }
  .contHome{
    width: 90%;
    margin: 0 auto;
  }
/*
***************************
	PAGINA DE INICIO
***************************
*/
  .ctitulo{margin-top: 30px; margin-bottom:60px; }
  .titulo{font-size:3em;}


  .titulo img{
  	width:40px;
    height:40px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .subTitulo{
    font-size:2em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .link img.icon{
    width:36px;
    height:36px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

  }
  .link img.arrow{
    width: 16px;
     height: auto; 
     margin-top:20px; 
  }

/*
***************************
  Menu
***************************
*/


  ul#accordion li {cursor: pointer;}

  .accordion {
    width: 100%;
    max-width:490px;
  }

  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 5px 5px 5px 0px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .link span {
      width: 50%;
      top: 19px;
      position: absolute;
      padding-left: 10px;
      font-family: 'Avenir_Light';
  }

  .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 16px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .accordion li img.arrow {
    right: 250px;
    position: absolute; 
    width: 16px;
    height: auto;
    margin-top:12px; 
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;  
  }

  .accordion li.open .link span {
    font-family:'AvenirNextLTPro-Medium';
    text-decoration:underline;  
  }



  .accordion li.open img.arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;  
  }


  .submenu {
    display: none;
  }

  .submenu li { 
    background-color:#f2f1f2; 
    border: 1px solid #c1c1c1;
    margin-bottom:-1px; 
    
  }

  .submenu a {
    display: block;
    text-decoration: none;
    color:#56565a;
    padding: 12px;
    padding-left: 42px;

    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .submenu a:hover {
    background-color: #6ead3b;
    color: #FFF;
  }

/*
*******************************
  PAGINA DOS
*******************************
*/
  .header{
    width:100%;
    line-height:74px; 
    text-align:center; 
    background-color:#f3f2f3;  
  }
  .tituloSeccion{
    font-size:1.6em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .sbig{
    font-size:1.6em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .sbigt{
      font-size: 1.6em;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
  }
  .subSeccion{
    font-size:1.1em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .tituloScont{
     font-size:1.1em;
     margin-bottom:10px;
     margin-top: 10px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;  
  }
  .tituloSbcont{
    font-size:1.2em;
    margin-top:10px; 
    margin-bottom: 10px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .borderLeft{
    border-left:20px solid #54555a;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

  }
  table.semanas{
    border: solid 1px #54555a;
  }
  
  table.semanas tr{
    border-bottom: solid 1px #54555a;
  }

  table.semanas tr td{padding:9px;}

  table.semanas tr td:nth-child(1){width:84%;}
  table.semanas tr td a:nth-child(1):hover{
    color:#4eaf23;
    text-decoration: underline;
    cursor:pointer; 
    font-family: 'Avenir_Next_Demi_Bold';
  }

  table.semanas tr td:nth-child(2){text-align:right; }
  table.semanas tr td:nth-child(3){text-align:right; }

  .estado{
    width:20px;
    height:20px;
    margin:0 auto; 
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100%; 
    background-color: #f3f2f3;
    border-radius: 100%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;    
  }
  .ok{
    background-image:url("../../images/expancion/img-ok.png");
  }
  .warning{
    background-image:url("../../images/expancion/warning.png");
  }
  .warning.png


/*
*******************************
PAGINA TRES
*******************************
*/
  .tituloBoold{
    font-size:2em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .sbBoold{
    font-size:1.6em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .ccheks{
    margin-top:20px;
  }
  input.csuno{
    margin-top:10px;
    margin-bottom:10px;  
  }
  .tsccion{margin-top:40px; }
  table.tbCheck tr td{padding: 6px;}

  table.tbCheck tr td label:nth-child(1):hover{
    color:#4eaf23;
    text-decoration: underline;
    cursor:pointer; 
    font-family: 'Avenir_Next_Demi_Bold';
  }

/*
*******************************
PAGINA  CUATRO
*******************************
*/

.indicacion{
  font-size:1.1em;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.superBoton{
  text-decoration: none;
  font-size: 16px;
  line-height: 23px;
  background-color:#54555a;
  border: 2px solid #54555a;
  color:#ffffff; 
  padding: 12px 63px;
  margin: 5px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  min-width: 170px;
  display: inline-block;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.superBotonDos{
  text-decoration: none;
  font-size: 16px;
  line-height: 23px;
  background-color:#f2f1f2;
  border: 2px solid #f2f1f2;
  color:#000000; 
  padding: 12px 63px;
  margin: 5px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  min-width: 170px;
  display: inline-block;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.paginador{margin-top:20px;}

img.paginadorArroW {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    cursor: pointer;
}

/*
*******************************
PAGINA CINCO
*******************************
*/
  .top60{margin-top:60px; }
  .ctAnex{margin-top:40px;}
  .tAxDos{
    font-size: 2em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .subAnexo {
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  

  table.anexoDos tr{
    border: solid 1px #54555a;
  }

  table.anexoDos tr td{padding:9px;}

  table.anexoDos tr td:nth-child(1){width:84%;}
  table.anexoDos tr td div a:nth-child(1):hover{
    color:#4eaf23;
    text-decoration: underline;
    cursor:pointer; 
    /*font-family: 'Avenir_Next_Demi_Bold';*/
  }

  table.anexoDos tr td:nth-child(2){text-align:right; }
  table.anexoDos tr td:nth-child(3){text-align:right; }




/*
*******************************
MODAL PREGUNTA UNO
*******************************
*/
  img.imgDefault{
    display:block; 
    width:70%;
    margin:0 auto;
    margin-left:16%;   
  }
  .tModal{
    font-size:1.6em;
    color:#ffffff;
    text-align:center;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    margin:0 auto; 
    margin-bottom:10px;

  }
  .btnModal{
    display:block; 
    width:36px;
    height:36px;
    margin:0 auto; 
    background-size:100%;
    background-position:center center;  
    background-repeat:no-repeat; 

  }
  .mactive{
    background-image: url("../../images/expancion/imgModal.png");
  }

  .mfail{
    background-image: url("../../images/expancion/imgNmodal.png");
  }
  table.smfebrero{
    border:solid 1px #54555a;
  }
  table.smfebrero tr{
    border-bottom:solid 1px #54555a;
  }

  table.smfebrero tr td{padding:9px;}

  table.smfebrero tr td:nth-child(1){width:78%;}
  

  table.smfebrero tr td:nth-child(2){
    width:28px;
    min-width:28px;  
    text-align:center;
    background-color:#54555a;
    color:#ffffff;
    border-bottom: 1px solid #898484;  
  }
  table.smfebrero tr td:nth-child(3){
    width:28px;
    min-width:28px; 
    border-right:solid 1px #54555a;  
    text-align:center;
    background-color:#f3f2f3;
    color:#000000;
  }
  .botones{margin-top:40px; }

/*
*******************************
MODAL USUARIO UNO
*******************************
*/
  .tsModal{font-size:1.6em;}
  .sbModal{font-size:2em; font-weight: bold;}

  table.UsModal{
    border:solid 1px #54555a;
  }

  table.UsModal tr{
    border-bottom:solid 1px #54555a;
  }

  table.UsModal tr td{padding:9px;}

  table.UsModal tr td:nth-child(1){width:87%;}
  

  table.UsModal tr td:nth-child(2){
    text-align:center;
    background-color:#54555a;
    color:#ffffff;
    border-bottom: 1px solid #898484;  
  }
  table.UsModal tr td:nth-child(3){
    width:24px;
    border-right:solid 1px #54555a;  
    text-align:center;
    background-color:#f3f2f3;
    color:#000000;
  }
  .bModalUser{
    width:100%;
    max-width: 652px; 
    margin:0 auto;
    margin-top: 30px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }

  /*
  *******************************
  PAGINA OCHO
  *******************************
  */
 
  .cdUser{
      width:100%;
      height:200px;
      display: table;
      vertical-align: middle;
      background-color:#f3f2f3;
  }
  .padUser{
      width:50%;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
  }
  .Duser{
    width:140px;
    height:140px;
    border: 2px solid #000000;
    border-radius:50%; 
    background-image:url("../../images/expancion/dettalleUser.png");
    background-repeat:no-repeat;
    background-size:70%;
    background-position:center 26px;      
    margin:0 auto; 
  }
  .borderDos{
    width: 100%;
    background-color: #ffffff;
    margin-top:60px;
    margin-left: 30px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .tbUser{
    font-size:1.4em;
  }
 


  table.tbUser tr td:nth-child(1){
    min-width:70px; 
  }
  table.tbUser tr td:nth-child(2){
    min-width:280px; 
  }
  table.tbDuser{
      border:1px solid #54555a;;  
  }

  table.tbDuser tr td:nth-child(1){
    width: 50%;
    min-width:280px; 
    text-align: left;
    background-color: #54555a;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;  
  }

  table.tbDuser tr td:nth-child(2){
    width:50%;
    min-width:280px; 
  }


  table.tbDuser tr{
    border-bottom:solid 1px #54555a;
  }

  table.tbDuser tr td{padding:9px;}

  .activeVerde{background-color:#6ead3b!important;}

  /*
  *******************************
  PAGINA NUEVE
  *******************************
  */

  .fgrupo{
    width: 100%;
    height: 260px;
    background-color: #f3f2f3;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .fgrupo img{
    display:block; 
    width:90%;
    max-width: 520px;
    min-width:520px;
    height: 100%;
    margin: 0 auto;
    margin-top:30px;  

  }

  table.tbFoto tr td:nth-child(1){
    width: 50%;
    min-width:280px; 
    text-align: left;
    background-color: #54555a;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;  
  }

  table.tbFoto{
    border:solid 1px #54555a;
  }
  table.tbFoto tr td:nth-child(2){
    width:50%;
    min-width:280px; 
  }

  table.tbFoto tr{
    border-bottom:solid 1px #54555a;
  }

  table.tbFoto tr td{padding:9px;}


  /*
  *******************************
  PAGINA DIEZ
  *******************************
  */

  .cdescripcion{
    width:100%;
    border:1px solid #54555a; 
    text-align:center; 
  }
  .padFooter{
    padding:15px 15px; 
  }
  table.BiModal{
    border:solid 1px #54555a;
  }


  table.BiModal tr{
    border-bottom:solid 1px #54555a;
  }

  table.BiModal tr td{padding:9px;}

  table.BiModal tr td:nth-child(1){
    width:50%;
    min-width:280px;
    background-color:#54555a;
    color:#ffffff;
    border-bottom: 1px solid #898484; 
  }

  table.BiModal tr td:nth-child(2){
    width:50%;
    min-width:280px;
    padding-left:20px;   
      
  }
  table.BiModal tr td:nth-child(3){
    width:24px;
    border-right:solid 1px #54555a;  
    text-align:center;
    background-color:#f3f2f3;
    color:#000000;
  }

  /*
  *******************************
  PAGINA ONCE
  *******************************
  */
  table.LimModal{border: solid 1px #54555a;}
  table.LimModal tr th{
    padding:10px;
    background-color:#56565a;
    color:#ffffff;   
  }

  table.LimModal tr td{
    padding:9px;
    border: solid 1px #54555a;
  }

/*
  *******************************
  PAGINA TRECE
  *******************************
*/
  .tapoyo{
    font-size:1.6em;
    margin-bottom:20px; 
  }
  table.tbAreas{
    border:solid 1px #54555a;
  }

  table.tbAreas tr td:nth-child(1){
    width:30%;
    min-width:150px; 
    text-align: left;
    background-color: #54555a;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;  
  }

  table.tbAreas tr td:nth-child(2){
    width:70%;
    min-width:280px; 
    border-bottom: 1px solid #54555a; 
  }
 

  table.tbAreas tr td{padding:9px;}

  a.MApollo{
    display:block; 
    margin-bottom:10px;
  }
  a.MApollo:hover{
    color:#6ead3b;
    text-decoration:underline; 
    cursor:pointer;

  }

/*
  *******************************
  PAGINA CATORCE
  *******************************
*/
  .titulags {
      font-size: 1.6em;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
  }

  .titulagsBold {
      font-size: 1.6em;
      font-family: 'Avenir_Next_Bold';
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
  }
  .spBold{font-family: 'Avenir_Next_Bold';}


  
/*
  *******************************
  PAGINA QUINCE
  *******************************
*/
table.tbGuia{border:solid 1px #54555a;}
 
  table.tbGuia tr td:nth-child(1){
    width:30%;
    min-width:150px; 
    text-align: left;
    background-color: #54555a;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;  
  }

  table.tbGuia tr td:nth-child(2){
    width:70%;
    min-width:280px; 
  }

  table.tbGuia tr{
    border-bottom:solid 1px #54555a;
  }

  table.tbGuia tr td{padding:9px;}

  a.MGuia{
    display:block; 
    margin-bottom:10px;
  }
  a.MGuia:hover{
    color:#6ead3b;
    text-decoration:underline; 
    cursor:pointer;

  }

  /*
  *******************************
  PAGINA DIECISEIS
  *******************************
  */
  .tPuesto{
    font-size:1.4em;
    margin-top:10px; 
    margin-bottom:10px; 
  }
  table.tbFinancieros{border:1px solid #54555a;}


  table.tbFinancieros tr{
    border-bottom: solid 1px #54555a;
  }

  table.tbFinancieros tr td{padding:9px;}

  table.tbFinancieros tr td:nth-child(1){width:84%;}
  table.tbFinancieros tr td div a:nth-child(1):hover{
    color:#4eaf23;
    text-decoration: underline;
    cursor:pointer; 
    font-family: 'Avenir_Next_Demi_Bold';
  }

  table.tbCaja{border:1px solid #54555a;}
  table.tbCaja tr{
    border-bottom: solid 1px #54555a;
  }

  table.tbCaja tr td{padding:9px;}

  table.tbCaja tr td:nth-child(1){width:84%;}
  table.tbCaja tr td div a:nth-child(1):hover{
    color:#4eaf23;
    text-decoration: underline;
    cursor:pointer; 
    font-family: 'Avenir_Next_Demi_Bold';
  }

  .detProducto{
    /*max-height:230px;*/
    border:1px solid #54555a;
  }
  .mueble01{
    display:block;
    width:100%;  
  }
  .hed {
    width: 100%;
    height: 37px;
    background-color: #54555a;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
  }
  .hcont {
    padding: 10px;
    margin-bottom: 10px;
  }

  /*
  *******************************
  PAGINA DIECIOCHO
  *******************************
  */



  table.ChModal{
    border:solid 1px #54555a;
  }


  table.ChModal tr{
    border-bottom:solid 1px #54555a;
  }

  table.ChModal tr td{padding:9px;}

  table.ChModal tr td:nth-child(1){
    width:50%;
    /*min-width:280px;*/
    background-color:#54555a;
    color:#ffffff;
    border-bottom: 1px solid #898484; 
  }

  table.ChModal tr td:nth-child(2){
    width:50%;
    /*min-width:280px;*/
    padding-left:20px;   
      
  }
  table.ChModal tr td:nth-child(3){
    width:24px;
    border-right:solid 1px #54555a;  
    text-align:center;
    background-color:#f3f2f3;
    color:#000000;
  }
  /*
  *******************************
  PAGINA DIECINUEVE
  *******************************
  */
  table.tbCarta{
    border: solid 1px #54555a;
  }
  
  table.tbCarta tr{
    border-bottom: solid 1px #54555a;
  }

  table.tbCarta tr td{padding:9px;}


  table.tbCarta tr td a:nth-child(1):hover{
    color:#4eaf23;
    text-decoration: underline;
    cursor:pointer; 
    font-family: 'Avenir_Next_Demi_Bold';

  }
   /*
  *******************************
  PAGINA VEINTE
  *******************************
  */
  .Sboton{
    text-decoration: none;
    font-size: 14px;
    line-height: 23px;
    background-color: transparent;
    border: 2px solid #009f7e;
    background-color: #009f7e;
    color: #ffffff;
    padding: 10px 80px;
    margin: 5px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    min-width: 170px;
    border-radius: 14px 14px 14px 14px;
    display: inline-block;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }

  .Sboton:hover{
    text-decoration: none; 
    color: #ffffff; 
  }

  a.Sboton img {
      width: 24px;
      height:24px; 
      vertical-align: middle;
      margin-right: 10px;
      transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
  }

    /*
    *******************************
    PAGINA VEINTIUNO
    *******************************
    */
    table.tbActa{
      border: solid 1px #54555a;
    }
    table.tbActa th{
      padding:20px; 
      color:#ffffff;
      border-right:1px solid #ffffff;  
      background-color: #54555a;
    }
    table.tbActa th:last-child{
      border-right:1px solid #54555a; 
    }

    table.tbActa tr{
      border-bottom: solid 1px #54555a;
    }
    table.tbActa tr td{
      padding:30px;
      border: solid 1px #54555a;
    }

    .imgActa{
      display:block; 
      width:80px;
      height:80px;
      margin: 0 auto;  
    }
    .btn.arrowl.bpg,.btn.arrowr.bpg{
      min-width:80px;
      margin-bottom: 20px; 
    }
    .bPagn{
      margin-top:20px; 
    }


   /*
    *******************************
    PAGINA VEINTIDOS
    *******************************
    */

    .text {
      margin-bottom: 30px;
      text-align: justify;
    }

    table.tbLugar{
      border:solid 1px #54555a;
    }

    table.tbLugar tr td:nth-child(1){
      width:30%;
      min-width:150px; 
      text-align: left;
      background-color: #54555a;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;  
    }
    table.tbLugar tr td:nth-child(2){
      width:70%;
      min-width:280px; 
      border-bottom: 1px solid #54555a; 
    }
   
    table.tbLugar tr td{padding:9px;}

    table.tbVobo{
      border:solid 1px #54555a;
    }

    table.tbVobo tr td:nth-child(1){
      width:30%;
      min-width:150px; 
      text-align: left;
      background-color: #54555a;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;  
    }
    table.tbVobo tr td:nth-child(2){
      width:70%;
      min-width:280px; 
      border-bottom: 1px solid #54555a; 
    }
   
    table.tbVobo tr td{padding:9px;}

    /*
    *******************************
    PAGINA VEINTICUATRO
    *******************************
    */
    .cfActivo {
      width: 100%;
      height: 200px;
      background-color:#f3f2f3;
      overflow:hidden; 
    }
    .cfTicket{
      width: 100%;
      height: 200px;
      background-color:#f3f2f3;
      overflow:hidden; 
    }
    .tfoto{
      font-size:1.4em;
      margin-top: 10px;
      margin-bottom: 16px;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; 
    }

    table.tbActa{
      border:solid 1px #54555a;
    }

    table.tbActa tr th{
      text-align:left;
      font-size:1.6em;  
    }

    table.tbActa tr td:nth-child(1){
      width:30%;
      min-width:150px; 
      text-align: left;
    }

    table.tbActa tr td:nth-child(2){
      width:70%;
      min-width:280px; 
      border-bottom: 1px solid #54555a; 
    }
   

    table.tbActa tr td{padding:9px;}
    .imgfoto {
      width: 100%;
      min-width: 300px;
      max-width:300px; 
      height:auto; 
      display: block;
      margin: 0 auto;
    }
    .Sboton.MLactivo{margin-top:60px;}


   /*
    *******************************
    PAGINA VEINTICUATRO TABLA MODAL
    *******************************
    */

    table.GiModal{
      border:solid 1px #54555a;
    }

    table.GiModal tr th{
      padding:10px;
      color:#ffffff; 
      background-color:#54555a;
      border-right:1px solid #ffffff;   
    }
  
    table.GiModal tr th:last-child{
      border-right:1px solid #54555a; 
    }

    table.GiModal tr td{
      border:solid 1px #54555a;
    }

    table.GiModal tr td{padding:9px;}

    .cfModal{
      width:100%;
      height:210px; 
      position:relative;  
      background-color: #f3f2f3;
    }
     .cfModal img{
      width:100%;
    }
    .zoom{
      width:20px;
      height:20px;
      position:absolute;
      right:20px;
      bottom:20px;
      cursor:pointer; 
    }
    .zoom img{width:100%; height:100%;  }
    /*
    *******************************
    PAGINA VEINTISEIS
    *******************************
    */


    table.ActEntrega tr{
      border: solid 1px #54555a;
    }

    table.ActEntrega tr td{padding:9px;}

    table.ActEntrega tr td:nth-child(1){width:84%;}
    table.ActEntrega tr td div a:nth-child(1):hover{
      color:#4eaf23;
      text-decoration: underline;
      cursor:pointer; 
      font-family: 'Avenir_Next_Demi_Bold';
    }

    table.ActEntrega tr td:nth-child(2){text-align:right; }
    table.ActEntrega tr td:nth-child(3){text-align:right; }
    table.ActEntrega{border: solid 1px #54555a;}
    table.ActEntrega tr th{
      padding:10px;
      background-color:#56565a;
      color:#ffffff;   
    }

    table.ActModal tr td{
      padding:9px;
      border: solid 1px #54555a;
    }



    .cMimpresora{
        width:50px;
        height: 50px;
        position: absolute;
        left:49%;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
      }


    .cMimpresora a img{
      width:100%;
      height:100%;
          
    }

    
     /*
    *******************************
    PAGINA IMPRESION DE DOCUMENTO
    *******************************
    */
    .Vboton{
      text-decoration: none;
      font-size: 12px;
      line-height: 15px;
      background-color: transparent;
      border: 2px solid #009f7e;
      background-color: #009f7e;
      color: #ffffff;
      padding: 10px 0px;
      margin: 5px;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;
      min-width: 140px;
      border-radius: 14px 14px 14px 14px;
      display: inline-block;
      transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
    }
    .Vboton:hover{
      background-color:#006141;
      border: 2px solid #006141;
       transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out; 
    }
    .switch {
      display: inline-block;
      margin-top:-6px;
      float:right;  
    }
    .switch input {
      display: none;
    }
    .switch span {
      display: inline-block;
      width:60px;
      height:24px;
      background: #a1a3a4;
      border-radius:4px 4px 4px 4px;
      position: relative;
      cursor: pointer;
    }
 
   .switch span:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 4px 4px 4px 4px;
      top: 2px;
      left: 1px;
      transition: .3s;
      box-shadow: -3px 0 3px rgba(0,0,0,0.1);
    }

    .switch input:checked ~ span {
        background: #009f7e;
        transition: .3s;
    }

    .switch input:checked ~ span:before {
      transform: translate(38px, 0px);
      transition: .3s;
    }
    .padprevia {
      padding: 20px 20px 60px 24px;
      background-color: #e0e7ec;
    }
    .imgImB{
      width: 46px;
      height:46px;
      display:block; 
      float: left;
      padding-right: 20px; 
    }
    .txtImpr{font-size:1em; }
    .tvPrebia tr td{padding:10px;}

    .dk-selected {
      background-color: white;
      border: 1px solid ##cccccc;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      background-image: url(../../images/expancion/input.png);
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: right 10px top 8px;
      height:30px;
      padding-left: 6px;
      outline: none;
      margin-right: 6px;
      width: 102%;
    }
    .timprimir{font-size:1.6em;margin-top: 11px; }
    .borderTres {
        width: 100%;
        background-color: #e0e7ec;
    }
    .inpIp{
      height: 24px;
      padding-left: 10px;
    }

    .tituloBoold {
      font-size: 2em;
    }

    .ctzom{position:relative; }

    .imgfull{display:none; }

  .box{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 7px;
    display: table;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.9);
    z-index:9000; 
  }
        
  .full {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    left: 5%;
  }

  .full img{
    width:100%;
    max-width: 1500px;
    height:auto;
  }

  .zomDos{
    position:absolute;
    width:30px;
    height:30px;
    right:20px;
    top:20px;
    cursor:pointer;
  }

  .zomDos img{
    width:100%;
    height:100%;  
  }



  /*
  ***********************
  NUEVAS PAGINAS
  ***********************
  */
  .h90{height:90px;}
  .header.h90{position:relative;}
  .fz146{font-size:1.46em; }

  input.insuc::-webkit-input-placeholder {color: #aeaeae;font-weight:bold;}
  input.insuc:-ms-input-placeholder{color: #aeaeae;font-weight:bold;}
  input.insuc::-moz-placeholder {color:#aeaeae; font-weight:bold;}



  span.subSeccion.tp30 {
    display: block;
    margin-top: -52px;
  }

  img.imgsearch {
    width: 44px;
    height: 44px;
    display: block;
    margin-bottom: 20px;
  }

  .msucursales{
    width: 80px;
    height: 100%;
    top: 0;
    right: 70px;
    position: absolute;
    background:#54555a  url(../../images/expancion/sucursal.svg);
    background-position: center center;
    background-size:34px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  a.msucursales span {
    display: inline-block;
    font-size: 0.5em;
    color: #ffffff;
    margin-top: 34px;
    font-family: 'Avenir_Next_Bold'; 
  }

   table.tResultados tr{
    border:1px solid #54555a;
  }

  table.tResultados tr td{
    padding:10px;
    border:1px solid #54555a;
    text-align: center;
  }

  table.tResultados tr th {
    background-color: #54555a;
    border-right: 1px solid #ffffff;
    color: #ffffff;
    padding: 12px;
  }
   
  table.tResultados tr th:last-child{
    border-right: 1px solid #54555a;
  }


  .detped {
    width:100%;
    margin-bottom: 20px;
  }
  .detlab {
      font-weight: bold;
      font-size: .89em;
      width: 40%;
  }

  .lfant {
      font-weight: bold;
      font-size: .89em;
      width: 40%;
      margin-left:34px;
  }
  .top20{margin-top:20px; }
  .top4{margin-top: -4px; padding-right:6px;}


  table.tBusqueda tr th{
    background-color:#54555a; 
    border-right:1px solid #ffffff;
    color:#ffffff;
    padding:12px;  
  }

  table.tBusqueda tr th:last-child{
    border-right: 1px solid #54555a;
  }

  table.tBusqueda{
    border:solid 1px #54555a;
  }
  table.tBusqueda tr{
    border-bottom:solid 1px #54555a;
  }

  table.tBusqueda tr td{padding:9px; border:1px solid #54555a;}

  table.tBusqueda tr td:nth-child(1){width:50%;}
  

  table.tBusqueda tr td:nth-child(2){text-align: center;width:10%; }
  table.tBusqueda tr td:nth-child(3){text-align:center; width:10%; }
  table.tBusqueda tr td:nth-child(4){text-align:center; width:10%; }
  table.tBusqueda tr td:nth-child(5){text-align:center; width:10%; }

  a.img-evi{
    width: 34px;
    height:18px;
    background-image: url("../../images/expancion/imgticket.png");
    background-size:66px;
  }
  .pfixed {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1.1em;
    background-color:#ffffff;
    padding: 13px 13px 13px 0px;
  }

  .tabs{
   width: 100%;
   display: table;
  }
  .tabs a{
    display: table-cell;
    min-width: 20%;
    height: 36px;
    max-width: 271px;
    border-right: 1px solid white;
    background-color: #54555a;
    text-align: center;
    line-height: 39px;
    color: #ffffff;
    text-decoration:none; 

  } 
  .tabs a:last-child {color-border:black; } 

  .tabs a:hover{background-color:#4fad2f;}

  .tabs a.tab-active{background-color:#4fad2f; color:#ffffff; }

  

  .fecal{
    width: 100%;
    height: 26px;
    border: 1px solid #979797;
    background-image: url(../../images/expancion/calendario.svg);
    background-repeat: no-repeat;
    background-position: right 8px top 7px;
    background-size:15px; 

  }
  .fecal.vml{
    margin-top:-3px;
    color: #aeaeae;
    font-size: 0.9em;
    padding-left: 10px;
  }
  input.inName{width:19.6%; }

  .cotre{margin-top: 20%;}
  .cn-v{margin-top: 2%;}
  .prw3{padding-right:16px; }
  .bot10a{margin-bottom: 10px; }
  .ml20{margin-left:16px;}

  .pad-slider{padding: 0px 40px;}
  .footerMdal{
    width: 100%;
    height: 136px;
    background-color: white;
    max-height: 135px;
  }

  .cfooterMod{
    width:90%;
    margin:0 auto;  
  }

  .wtbmodal {
    width: 90%;
    height: 100%;
    margin:0 auto; 
    display: table;
    vertical-align: middle;
  }

  .contMdol{
      width: 90%;
      color: #ffffff;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
  }

  .mauto {
     width: 90%;
      margin: 0 auto;
      color: #333333;
      font-size:12px; 
  }
  .ovtabs{
    overflow: auto;
    margin-bottom: 15px;
    padding-bottom: 0px;

  }
  .txtMdl{
    position: relative;
    float: left;
    width: 16px;
    margin: 6px;
    left: 31px;
    width: 100%;
    top: -7px;
    font-size: 1.1em;
  }
  .input.insuc {
    padding-left: 6px;
    width:98%; 
    font-size:0.9em; 
  }

  .hidden{
    height:50px;
    max-height:40px; 
    overflow: auto;
    padding-bottom: 16px;
  }




  @media screen and (max-width:950px){
    .w49a,.w49b{
      width:100%;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; 
    }
    .sbigt{
      font-size: 1.1em;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }
  }

   @media screen and (max-width:806px){
      .fecal{
        background-image:none; 
      }

      .msucursales{
        right:0px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease; 
      }
   }


  @media screen and (max-width:800px){
    .titulags {
      font-size: 1em;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }
    .sbig{
      font-size:1.1em;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; 
    }
    
  }

  @media screen and (max-width:700px){
    .bModalUser{
      width:85%;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }
    .Sboton{
      padding: 10px 40px;
      font-size:12px; 
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }

    .w30c{width:100%; margin-bottom: 30px;}
    .w15c{width:100%;margin-bottom: 10px; }
    .w30d{width: 100%;}

    a.busc{margin-top:10px;}
    .ml20{margin-left:0px;}
    .dk-select{width:100%!important; }
    .dk-selectedDos{width:100%!important; }

    .msucursales{
      top:90px;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }
    .fecal{
        background-image: url(../../images/expancion/calendario.svg);
    }
     .fecal.vml{padding-left:0px;} 
    
  

  }
@media screen and (max-width:670px){
/*
*******************************
  QUERIS DELA PAGINA UNO
*******************************
*/
  .tituloSeccion{
    font-size:1em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .tituloScont{
    font-size: 0.9em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .subSeccion{
    font-size: 0.9em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .borderLeft{
    border-left:7px solid #54555a;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .tituloSbcont {
    font-size: 1em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .w40,.w60{
    width:100%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .borderDos{margin-left:0px;}
  .sbigt{
      font-size:0.9em;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
  }

  .tabs a{
    min-width:180px;
  }



}
@media screen and (max-width:570px){
/*
*******************************
  QUERIS DEL MENU PRINCIPAL
*******************************
*/
  .accordion{
    width:80%;
    margin-left:-20px; 
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .submenu a{
    padding-left:10px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  ul.submenu{
    margin-left: -40px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .accordion li img.arrow{
    right:0px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }

  .titulo {
    font-size: 1.6em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .subTitulo {
    font-size: 1.4em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .titulo img{
    width:30px;
    height:30px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }


  .superBotonDos{font-size:12px;}
  .tleft.w50,.tright.w50{width:100%;margin-bottom:20px}

  a.btn{width:100%;}

  .btnfix{
    width: 90%;
    left: 24px;
  }

  .paddingMuser{
    margin:15px 15px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }

  .tsModal {
    font-size: 1.2em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .sbModal {
    font-size: 1.4em;
    margin-bottom: 10px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .bModalUser {
    width: 90%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .titulags {
    display:inline-block; 
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align:middle; 

    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .w46a,.w46b{
    width:100%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .w48a,.w48b{
    width:100%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .tfoto{
    font-size:1.2em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .w50.cmueble{
    width:100%; 
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;  
  }

.admodal {    max-height: 300px; overflow: auto; }
  img.mueble01{
    width: 200px;
    margin:0 auto;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;    
  }
  .Sboton{
      padding: 10px 10px;
      font-size:10px; 
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }
  a.Sboton img{
      display:none; 
  }
  .btn.arrowl.bpg, .btn.arrowr.bpg{
      margin-bottom:0px; 
    }

  .cMimpresora{
    bottom: -60px;
    left:46%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .sbig{
    font-size:0.9em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }

  .lfant{
    width:100%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }








}
@media screen and (max-width:470px){

/*
*******************************
  QUERIS DELA PAGINA TRES
*******************************
*/
  .tituloBoold {
      font-size:1.6em;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
  }
  .superBoton{
    padding:4% 14%;

  }
  .indicacion.tright{
    text-align:left; 
  }

  .superBotonDos{
    padding:4% 14%;
    font-size:12px; 
  }
  .subSeccion{
    font-size:0em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
  }
  .tituloSeccion {
    font-size: 0.9em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; 
}
  /*
*******************************
  QUERIS DELA PAGINA SEIS
*******************************
*/
  .tAxDos{
    font-size:1.6em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .subAnexo {
    font-size:0.9em;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

}

@media screen and (max-width:370px){
  
}

@media screen and (min-width:1500px) {

  html, body {
    font-size: 18px;
  }

  .accordion .link { 
    padding: 14px 14px 14px 0px;
    font-size: 24px; 
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .accordion li img.arrow {
      right: 198px; 
  }

  .link img.icon {
      width: 45px;
      height: 45px; 
  }
  a.btn {font-size:12px;}

  .Sboton{font-size:18px; }

  .estado{
    width:26px;
    height:26px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

}

.btnhija{
    width: 68px;
    height: 36px;
    display: block;
    margin: auto;
}


