div.modal { display:none;  width: 100% !important; } 
/* Overlay */
#simplemodal-overlay { background-color:#000;  width: 100%;}

.simplemodal-body { padding:0px;  width: 100% !important; }
.simplemodal-container{width:100%!important; margin:auto; }
div.checks div{ margin-bottom: 0px; }

.cuadro { 
	width: 85%;
	max-width: 500px;
	margin: 0 auto;
	background-color:#FFFFFF; 
	border-radius:16px 16px 16px 16px; 
	/*border:1px solid #AAB7CE; */
	position:relative; 
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out; 
}

.cuadromed { 
	width: 85%;
	max-width: 650px;
	margin: 0 auto;
	background-color:#FFFFFF; 
	border:1px solid #AAB7CE;
	border-radius:16px 16px 16px 16px; 
	position:relative; 
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out; 
}

.cuadrobig {  
	width: 85%;
	max-width: 700px;
	margin: 0 auto;
	position: relative;
	background-color:#FFFFFF; 
	/*border:1px solid #AAB7CE; */
	border-radius:16px 16px 16px 16px; 
	padding:1px; 
	position:relative; 
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out; 
}

.cuadrobigUnic {  
	width: 85%;
	height:500px; 
	max-width: 700px;
	margin: 0 auto;
	position: relative;
	background-color:#d6d6d6; 
	/*border:1px solid #AAB7CE; */

	padding:1px; 
	position:relative; 
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out; 
}


.cuadrobigmax {  
	width:100%;
	max-width:900px;
	margin: 0 auto;
	position: relative;
	background-color:#FFFFFF; 

	border-radius:16px 16px 16px 16px; 
	position:relative; 
		padding:1px; 

	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out; 
}

.cuadrobigmaxUnic{
	width:100%;
	max-width:900px;
	margin: 0 auto;
	position: relative;
	background-color:#FFFFFF; 

	border-radius:16px 16px 16px 16px; 
	position:relative; 
		padding:1px; 

	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out; 

}

 
 
 .retra { width: 120px; height: 120px; float: right; text-align: center; background-color:  ;}
}
 
.modavatar {  
	width:  110px; 
	height: 110px; 
    border-radius: 100px;
    -moz-border-radius: 100px;   
    border: 1px solid silver;
    overflow: hidden;
		transition: all 0.30s ease-out;
		-moz-transition: all 0.30s ease-out;
		-webkit-transition: all 0.30s ease-out;  
}
 
.modavatar img { 
	width:  100% ;   
}


img.cerrar {
    position: relative;
    float: right;
    width:23px;
    margin:6px;  

}

img.cerrarDos {

position: relative;
float: right;
width: 16px;
margin: 6px;
top: 10px;
left: -16px;
}

span.tmodal {
    display: block;
    margin-bottom: 13px;
    font-size: 16px;
    color:#5a5a5d;
    font-weight:100; 
}

	.bordeverde {
    width: 100%;
    margin-bottom: 20px;
    border-top: 2px solid #ffcd00; 
}

.tright.btnmodal {
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
 



table.mpermits { width: 100%; }
table.mpermits th { white-space: nowrap; padding: 5px 10px; text-align: center; }
table.mpermits th:nth-child(1) { text-align: left; } 

table.mpermits td { text-align: center; white-space: nowrap; padding: 0px 3px; color: #aaaaaa;}
table.mpermits td:nth-child(1) { text-align: left; } 

 
table.bcenter { width: 100%; }
table.bcenter th { white-space: nowrap; padding: 5px 10px; text-align: center; line-height: 1.1em;} 
table.bcenter td { text-align: center; white-space: nowrap; padding: 3px 5px; color: #aaaaaa;}  
table.bcenter td  a { color: #0e8454; text-decoration: underline;}
 





.modal .items td {}

.hmodal {
    margin-bottom: 4px;
    margin-top: 14px;
}





 @media screen and (max-width: 700px) {
	.retra {display: block;width: 100%; height: 70px; clear: both;   text-align: center; margin-top: 5px;}

	 
	.modavatar {  
		width:  60px; 
		height: 60px;  
		margin: 0 auto;
		transition: all 0.30s ease-out;
		-moz-transition: all 0.30s ease-out;
		-webkit-transition: all 0.30s ease-out;  
	}
}


 @media screen and (max-width: 500px){
 	 .overflow.cont-presupuestal {
	    height: 300px;
	    font-size:11px; 
    }

    .tright.btnmodal {

   		 margin-right: 0px;
   		 width: 50%;
   		 margin: 0 auto;
    }
    .cpaginador.pprincipal {
         margin-left:0px;
    }
     .tright.btnmodal{
    	margin-bottom:20px; 
    }

 }

  

 @media screen and (max-width: 370px) {
 
	.cuadromed { 
		width: 85%; 
		margin: 0 auto;
		background-color:#FFFFFF; 
		border:1px solid #AAB7CE; 
		transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out; 
	}

	img.cerrar {
		position: absolute;
		right:0px;
		top: 0px;
		width: 30px;

	}

	

	.cuadrobigmax {
		width:90%; 
	}  

	
   

	



 }


