/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    /* padding: 4px 7px; */
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
  }



    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; 
    }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width:14px;
      height:14px;
      margin: 5px 7px;
      background-color: #ffffff;
      border: 2px solid #ADADAD;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; 
      display:none; 


    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {


      background: #ffffff;
    border: 2px solid #52E846;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; 

    }


  .owl-prev {
    position: absolute;
    left: 0;
    top: 45%;
  }
   .owl-next {
    position: absolute;
    right: 0;
    top:50%;
    background-image: url("../../images/expancion/arrowL.svg") !important;
    background-repeat: no-repeat !important;
    background-size: 56% !important;
    background-position: center center !important;
    background-color: transparent !important;
   
    height: 40px;
    width: 60px;
    font-size: 0px !important; 
  }

  .owl-prev {
    position: absolute;
    right: 0;
    top:50%;
    background-image: url("../../images/expancion/arrowR.svg") !important;
    background-repeat: no-repeat !important;
    background-size: 56% !important;
    background-position: center center !important;
    background-color: transparent !important;
 
    height: 40px;
    width: 60px;
    font-size: 0px !important; 
  }
