/*
 * Table styles
 */
table.dataTable {
	width: 100%;
	margin: 0 auto;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	/* text-align: left; */
	margin: auto;

	/*
   * Header and footer styles
     border-collapse: separate;
  border-spacing: 0;
   */
	/*
   * Body styles
   */
}

table.dataTable td:nth-child(even) {
}

table.dataTable thead {
	background: #54555a;
}

table.dataTable thead th {
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 1px solid #FFFFFF;
}


table.dataTable td, table.tablaChecklist th {
	border: 1px solid #FFF;
	padding: 10px 7px;
}

table.dataTable tbody td {
	font-size: 18px;
}


table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc,
	table.dataTable thead .sorting {
	cursor: pointer;
	*cursor: hand;
}


table.dataTable tbody th, table.dataTable tbody td {
	padding: 8px 10px;
}


table.dataTable tbody th.dt-body-center, table.dataTable tbody td.dt-body-center
	{
	text-align: center;
}

table.dataTable tbody th.dt-body-right, table.dataTable tbody td.dt-body-right
	{
	text-align: right;
}

table.dataTable tbody th.dt-body-justify, table.dataTable tbody td.dt-body-justify
	{
	text-align: justify;
}

table.dataTable tbody th.dt-body-nowrap, table.dataTable tbody td.dt-body-nowrap
	{
	white-space: nowrap;
}

table.dataTable, table.dataTable th, table.dataTable td {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/*
 * Control feature layout
 */


.dataTables_wrapper .dataTables_length {
	float: left;
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
	margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	padding-top: 0.755em;
}

.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	padding: 0.5px 1px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	*cursor: hand;
	color: #333333 !important;
	border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
	{
	color: #333333 !important;
	background-color: #eaeaea; /*Erick gris de paginacion*/

}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: white !important;
	background-color: #54555a;/*Erick gris de paginacion*/
	/* W3C F0EFF0*/
}



}