.etabs {  
    margin-top: 7px;  
    padding: 0; 
    font-size: 0; 
    margin-left: 11px;
}
.tab { 
    display: inline-block; 
    zoom:1; 
    *display:inline;
    background-color: #f4f4f4;
    border: 2px solid #ffffff;
    border-bottom: none;
    border-right: none;
}
.tab a {  
    font-family: arial, verdana;
    font-size: 16px; 
    display: block; 
    padding: 7px 47px 8px 47px;
    color: #333333;
    text-decoration: none;
}
.tab.active {  background-color: #339966; }



.tab a.active { color: #ffffff; }
.tab-container .panel-container {   
    padding: 0px; 
    min-height: 400px; 
}
div.checks{ 
    position: absolute;
    font-size: 14px;
    top: -1px;
    left: 46%;
    font-size: 14px;
}
div.check{ 
    display: inline-block; 
    vertical-align: middle;
    margin-right: 10px;
}




@media screen and (max-width: 1019px) {
 .tab-container {width: 100%;}
    .etabs {  
        margin-top: -2px;  
        padding: 0; 
        font-size: 0; 
        margin-left: 11px;
    }  
    .tab a {   
        font-size: 13px;  
        padding: 7px 27px 8px 27px; 
    } 
    div.checks{ 
        position: absolute;
        font-size: 12px;
        top: -25px;
        left: 47%;
        font-size: 12px;
    } 

}