.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow:auto; color:#5e5e5e;}
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:20px}
.autocomplete-selected { background: #dedede; }
.autocomplete-suggestions strong { font-weight: bold; color: #117f02; }


