/*-------------DATA PICKER---------------- */
.datapicker1 {
    background-image: url('../../images/supervisionSistemas/calendario.png');
    background-position: right 3px top 7px;
	padding: 0px 1% 0px 10px;
    background-position: 96% 50%;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 99%;
    border: 0px !important;
    border-bottom: 1px solid #d7d7d7 !important;
    color: #bebebe;
    height: 25px !important;
    line-height: 26px;
}
#ui-datepicker-div{
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	padding: 7px 10px 5px 10px;
	text-align: center;
	-webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.34);
	box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.34);
	behavior: url("PIE.htc");
	position: relative;
	z-index: 999 !important;
	display: none;
}

.ui-datepicker-calendar th, .ui-datepicker-calendar td {
*width: 25px;
margin: 0 auto;
position: relative;
*float: left;
*display: inline;
*zoom: 1;
padding: 3px;
}

.ui-datepicker-calendar th a, .ui-datepicker-calendar td a {
	color: black;
	*width: 35px;
	margin: 0 auto;
	position: relative;
	*float: left;
	*display: inline;
	zoom: 1;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 28px;
	height: 28px;
}
.ui-datepicker .ui-datepicker-prev-hover
 {
	background-image: url('../../images/supervisionSistemas/izq.jpg') !important;
	background-repeat: no-repeat !important;
	background-size: 6px;
    background-position: 50% !important;   
}

.ui-datepicker .ui-datepicker-next-hover {	
	background-image: url('../../images/supervisionSistemas/der.jpg') !important;
	background-repeat: no-repeat !important;
	background-size: 6px;
    background-position: 50% !important; 
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: 14px;
	border-collapse: collapse;
}
.ui-datepicker th {
	padding: 4px 4px;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.ui-datepicker th span {
	font-weight: 900;
}


.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: 5px;
	text-align: center;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: 11px 0 0 0;
	padding: 0 3px;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: 8px 3px 6px;
	cursor: pointer;
	padding: 3px 9px 4px 9px;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

.ui-datepicker-week-end,  .ui-datepicker-week-end a {
	color: #868686 !important;
} 

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{

    color: #868686;
    text-decoration: underline;
    font-weight: bold;
}
 
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	background: #386345;
	color: #ffffff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {   
    background: #386345;
    color: #ffffff;
    font-weight: 900;
}

.ui-datepicker .ui-datepicker-title {
    color: #386345; 
    line-height: 30px;
    text-align: center;
    *display: inline;
    *zoom: 1;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    display: table;
    width: 100%;
    margin: 0 auto;
}
.ui-datepicker-month{font-weight: 900;}

.ui-datepicker-year{font-weight: 900;}

.ui-datepicker-prev {
	background-repeat: no-repeat;
	background-size: 6px;
    background-position: 50%;
    background-color: transparent !important;
    /*background-image: url('../../images/supervisionSistemas/izq.jpg');*/
    cursor: pointer;
    *display: inline;
    *zoom: 1;
}

.ui-datepicker-next {
	background-repeat: no-repeat;
	background-size: 6px;
    background-position: 50%;
    background-color: transparent !important;
    /*background-image: url('../../images/supervisionSistemas/der.jpg');*/
	cursor: pointer;
	 *display: inline;
    *zoom: 1;
}

