/* Calendario */
input[type="text"], input[type="date"], input[type="number"], input[type="file"]
	{
	border: 1px solid #c4c4c4;
	background-color: #ffffff;
	color: #666666;
	padding: 0px 1% 0px 10px;
	font-size: 12px;
	height: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 80%;
}

/* ****************** Check box ***************************** */

/* Check box verde */
input#check[type=checkbox], input#check1[type=checkbox], input[type=checkbox]
	{
	display: none;
}

input[type=checkbox]+label {
	display: inline-block;
	/*width: 200px;*/
	height: 20px;
	padding-left: 27px;
	background-position: 0 0px;
	background-size: 15px;
	background-repeat: no-repeat;
	line-height: 17px;
	cursor: pointer;
	color: #8a8a8a;
}

input[type=checkbox]:checked+label {
	background-position: left 0px;
	background-image: url(../../images/supervisionSistemas/checkbox0.png);
}

input[type=checkbox]+label {
	background-image: url(../../images/supervisionSistemas/checkbox.png);
}

input[type=checkbox]+label.inputTS {
	height: 20px;
	background-position: 0 5px;
	background-size: 15px;
}

/* ************** Radio ******************/
label {
	margin-right: 20px;
}

input[type=radio].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=radio].css-checkbox+label.css-label {
	padding-left: 37px;
	height: 23px;
	display: inline-block;
	line-height: 22px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	cursor: pointer;
}

input[type=radio].css-checkbox:checked+label.css-label {
	background-position: 0 -26px;
}

label.css-label {
	background-image: url(../../images/supervisionSistemas/radio.jpg);
	_background-image: url(../../images/supervisionSistemas/radio1.jpg);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*  ******************* Select ************************** */
.dk-select, .dk-select *, .dk-select *:before, .dk-select *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 0px;
}

.dk-select *, .dk-select *:before, .dk-select *:after {
	padding: 2px 15px;
	text-align: left;
}

.normal_select {
	
}

.dk-select {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.4em;
	width: 100%;
	cursor: pointer;
	padding: 0px 1%;
}

.dk-select-open-down div {
	color: #336633;
}

.dk-selected {
	padding: 0px 1% 0px 10px;
	background-image: url(../../images/supervisionSistemas/select.svg);
	background-position: 96% 50%;
	background-size: 12px;
	background-repeat: no-repeat;
	width: 99%;
	border: 0px;
	border-bottom: 1px solid #d7d7d7;
	border-radius: 0px;
	color: #666666;
	height: 25px;
	line-height: 26px;
	font-family: 'AvenirNextLTPro-Medium';
	white-space: nowrap;
	text-align: left;
}

.selSucu .dk-selected {
	padding: 0px 1% 0px 10px;
	background-image: url(../../images/supervisionSistemas/selecta.svg);
	background-position: 96% 50%;
	background-size: 12px;
	background-repeat: no-repeat;
	width: 99%;
	border: 0px;
	border-bottom: 1px solid #d7d7d7;
	border-radius: 0px;
	color: #666666;
	height: 25px;
	line-height: 26px;
	font-family: 'AvenirNextLTPro-Medium';
}

.dk-select .dk-select-options {
	position: absolute;
	display: none;
	left: 0;
	right: 0;
}

.dk-select .dk-select-options span {
	position: absolute;
	display: none;
	left: 0;
	right: 0;
}
/*submenu*/
.dk-select-options {
	background-color: white;
	border: 1px solid #AAB7CE;
	border-radius: 0.4em;
	list-style: none;
	margin: 0;
	max-height: 15em;
	min-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0.25em 0;
	width: auto;
	z-index: 100;
	font-size: 12px;
}
/*Submenu seleccionado*/
.dk-option-selected {
	background-color: #006341;
	color: #ffffff;
}
/*Submenu over*/
.dk-select-options .dk-option-highlight {
	background-color: #006341;
	color: #ffffff;
	white-space: nowrap;
}

.dk-select-open-up .dk-selected:after, .dk-select-open-down .dk-selected:after
	{
	border-left-color: #6F7E95;
}

.dk-select-open-up .dk-select-options, .dk-select-open-down .dk-select-options
	{
	display: block;
	border-color: #ededed;
	background-color: #ededed;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 2px -3px 13px 2px rgba(154, 150, 150, 0.5);
	text-align: center;
	white-space: nowrap;
	min-width: 140px;
}

select[data-dkcacheid] {
	display: none;
}

.dk-select-options span {
	padding: 10px;
}

/* ************ textarea *************************/
textarea {
	resize: none;
	border: 1px solid #ededed;
	background-color: #fafafa;
	color: #8a8a8a;
	padding: 5px 4%;
	font-size: 11px;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* ************ Placeholder *************************/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #666666;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #666666;
}

:-ms-input-placeholder { /* IE 10+ */
	color: #666666;
}

:-moz-placeholder { /* Firefox 18- */
	color: #666666;
}


#dk0-, #dk1-, #dk2-{
	text-align: center;
}



#dialog-confirm p{
	line-height: 3;
	font: 14px normal;
	text-align: center;
}