/* Calendario */	
input[type="text"], input[type="date"], input[type="number"], input[type="file"], select, .dk-selected {
    background-color: transparent;
    color: #2e2925;
        padding: 0px 1% 0px 10px;
    font-size: 12px;
    height: 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 7px;
    width: 96%;
    border: 0px;
    border: 1px solid #8a8a8a;
}
.w95{width: 95% !important;}
/*  ******************* Unpload ************************** */
input.horario {
    background-image: url('../../images/supervisionSistemas/reloj.svg');
    background-size: 15px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

input.buscar {
    background-image: url('../../images/supervisionSistemas/lupa1.svg');
    background-size: 20px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}


input.buscar1 {
   background-image: url('../../images/supervisionSistemas/lupaG.svg');
    background-size: 20px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
	width: 96%;    min-width: 184px;
}


input.login {
    border: 0px;
    border-bottom: 1px solid #006341;
    background-color: transparent;
    color: #676666;
    padding: 0px 0px;
    font-size: 19px;
    width: 100%;
    height: 25px;
    font-family: 'Avenir_Light';
}

input.usuario {
    border: 0px;
    border-bottom: 1px solid #305692;
    background-color: transparent;
    color: #333333;
    padding: 0px 0px;
    font-size: 17px;
    width: 90%;
    height: 25px;
    text-align: left;
    font-family: 'Avenir_Light';
    background-size: 20px;
    background-position: 8% 49%;
    background-repeat: no-repeat;
    border-radius: 0px;
}

input.contrasena {
    border: 0px;
    border-bottom: 1px solid #cbcbcb;
    background-color: transparent;
    color: #cbcbcb;
    padding: 0px 0px;
    font-size: 19px;
    width: 90%;
    height: 25px;
	text-align: center;
    font-family: 'Avenir_Light';
	background-image: url('../../images/supervisionSistemas/icoContrasena.svg');
    background-size: 24px;
    background-position: 8% 50%;
    background-repeat: no-repeat;
	border-radius: 0px;
}
/*  ******************* Select ************************** */

.dk-select, .dk-select *, .dk-select *:before, .dk-select *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  padding: 0px 0px;
}
.dk-select *, .dk-select *:before, .dk-select *:after{
	padding: 2px 10px;
}
.normal_select{ }
.dk-select {
      position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4em;
    width: 100%;
    cursor: pointer;
    text-align: left;
	    border-radius: 7px;
	    padding: 0px 1%;
	    border: 1px solid #8a8a8a;
}
.dk-select-open-down div {
	    color: #336633;
}
.dk-selected {
        padding: 0px 1% 0px 10px;
    background-image: url(../../images/supervisionSistemas/select.svg);
    background-position: 96% 50%;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 99%;
    border: 0px;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0px;
    color: #bebebe;
    height: 25px;
    line-height: 26px;

}

.dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0;
  right: 0; }
.dk-select .dk-select-options span{
  position: absolute;
  display: none;
  left: 0;
  right: 0; }
/*submenu*/
.dk-select-options {
  background-color: white;
  border: 1px solid #AAB7CE;
  border-radius: 0.4em;
  list-style: none;
  margin: 0;
  max-height: 10.5em;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.25em 0;
  width: auto;
  z-index: 100;font-size: 12px; }
/*Submenu seleccionado*/
.dk-option-selected {
  background-color: #da8c15;
  color: #ffffff; }
/*Submenu over*/
.dk-select-options .dk-option-highlight {background-color: #da8c15;color: #ffffff; }
.dk-select-open-up .dk-selected:after, .dk-select-open-down .dk-selected:after {border-left-color: #6F7E95; }
.dk-select-open-up .dk-select-options, .dk-select-open-down .dk-select-options {
    display: block;
    border-color: #ededed;
    background-color: #ededed;
    color: #000000;
	background-color: #ffffff;
	    box-shadow: 2px -3px 13px 2px rgba(154, 150, 150, 0.5);

}
select[data-dkcacheid] {display: none; }

.dk-select-options span { padding:10px;}



/* ****************** Check box ***************************** */

/* Check box verde */
input#check[type=checkbox], input#check1[type=checkbox], input[type=checkbox]{
display: none;
}
input[type=checkbox] + label {
    display: inherit;
    width: 40px;
    height: 19px;
    padding-left: 5px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 0px;
    cursor: pointer;
    /* margin-top: -3px; */
    margin-left: 11px;
    background-size: 31%;
}
input[type=checkbox]:checked + label{
background-position: left 0px;
background-image:url(../../images/supervisionSistemas/checkbox1.png); 
}
input[type=checkbox]+ label{
background-image:url(../../images/supervisionSistemas/checkbox.png); 
}

.uno {
    margin: auto;
    /* text-align: center; */
    /* background-color: red; */
    width: 38px;
}
/* Check box gris */
input#check02[type=checkbox]{
display: none;
}
input#check02[type=checkbox] + label {
    display: inline-block;
    width: 74px;
    height: 25px;
    padding-left: 34px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 18px;
    cursor: pointer;
}
input#check02[type=checkbox]:checked + label{
background-position: left 0px;
background-image:url(../../images/supervisionSistemas/checkbox1.png); 
}
input#check02[type=checkbox]+ label{
background-image:url(../../images/supervisionSistemas/checkbox.png); 
}

/* ************** Radio ******************/

label {margin-right:20px;}

input[type=radio].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}

input[type=radio].css-checkbox + label.css-label {
	padding-left:23px;
	height:23px; 
	display:inline-block;
	line-height:22px;
	background-repeat:no-repeat;
	background-position: 0 0;
	
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {background-position: 0 -23px;}

label.css-label{
background-image:url(../../images/supervisionSistemas/radio.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* ************ textarea *************************/
textarea {
    resize: none;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    color: #2e2925;
    padding: 11px 13px;
    font-size: 14px;
    height: 79px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 20px;
}
/* ************ Placeholder *************************/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #494949;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #494949;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #494949;
}
:-moz-placeholder { /* Firefox 18- */
  color: #494949;
}



.buscar1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;font-family: 'Avenir_Next_Demi_Bold';    white-space: nowrap;
}
.buscar1::-moz-placeholder { /* Firefox 19+ */
  color: #000;font-family: 'Avenir_Next_Demi_Bold';    white-space: nowrap;
}
.buscar1:-ms-input-placeholder { /* IE 10+ */
  color: #000;font-family: 'Avenir_Next_Demi_Bold';    white-space: nowrap;
}
.buscar1:-moz-placeholder { /* Firefox 18- */
  color: #000;font-family: 'Avenir_Next_Demi_Bold';    white-space: nowrap;
}



/* Place Holder CSS */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #000;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {  
  opacity: 0.75;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

@media screen and (max-width: 1100px){

}