@import url('fonts.css');

/* general */
* {
	margin: 0px;
	padding: 0px
}

.tLeft {
	text-align: left !important;
}

.tCenter {
	text-align: center !important;
}

.tRight {
	text-align: right !important;
	text-align: -webkit-right;
}

.fRight {
	float: right !important;
}

.fLeft {
	float: left !important;
}

strong {
	font-family: 'Avenir_Next_Demi_Bold';
}

.cursor {
	cursor: pointer;
}

.clear {
	clear: both;
}

/* scroll */
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background-color: #f3f3f3;
}

*::-webkit-scrollbar-thumb {
	background-color: #afafaf;
}

html, body {
	font-family: 'Avenir_Next_Regular';
	background-color: #ffffff;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	color: #000;
	min-width: 768px;
	height: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Header*/
.header {
	padding: 5px 0;
	background-color: #FFFFFF;
	border-bottom: solid 2px #006341;
	width: 100%;
	height: 40px;
	color: #333;
}

.tblHeader {
	width: 99%;
	display: table;
}

.headerMenu {
	width: 100px;
	margin: auto;
	float: left;
}

.headerLogo {
	width: 130px;
	margin: auto;
}

.headerUser {
	margin: auto;
	position: relative;
	float: right;
	margin-top: -62px;
	text-align: right;
	margin-right: 10px;
	font-size: 13px;
	line-height: 15px;
	top: 3px;
}

.headerMenu {
	text-align: left;
}

.headerLogo {
	text-align: center;
	cursor: pointer;
}

.imgHamburgesa {
	padding: 10px 19px 18px 30px;
	width: 21px;
	height: 20px;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

img#imgLogo {
	width: 82px;
	padding: 0px 0px 0px 0px;
}

div.name, div.pic-name, div.user-menu, div.fecha {
	display: inline-block;
	vertical-align: middle;
}

div.name {
	margin-top: 13px;
}

div.name b {
	font-family: 'Avenir_Next_Demi_Bold';
}

div.pic {
	display: block;
	position: relative;
	width: 38px;
	height: 38px;
	margin: 0 0 0 15px;
	background: #FFFFFF no-repeat center center;
	border: solid 2px #7e7e7e;
	border-radius: 50%;
	background-size: 122%;
	margin-top: 14px;
}

div.pic-name span {
	display: block;
	position: absolute;
	width: 17px;
	height: 17px;
	top: 13px;
	right: 127px;
	background: #EC100F;
	color: #FFFFFF;
	line-height: 17px;
	border-radius: 50%;
	font-size: 9px;
}

.user-menu {
	margin-top: 38px;
	margin-left: 1px;
}

.fecha {
	margin: 16px 0px 0px 10px;
	font-size: 14px;
	color: #000;
}

.fecha span {
	font-size: 10.2px;
}
/*Titulo*/
div.title {
	background-color: #f9f9f9;
	padding: 0px 0 6px 0px;
	height: 50px;
	color: #000;
}

div.title .wrapper {
	position: relative;
	margin-left: 30px;
	float: left;
	margin-top: 3px;
}

div.title h1 {
	font-size: 25px;
	color: #43413B;
	font-weight: 800;
	line-height: 30px;
}

.divlupa {
	float: right;
	width: 38px;
	margin-top: 16px;
	text-align: left;
}

img.lupa {
	cursor: pointer;
	float: left;
	height: 17px;
	padding: 0px 10px 0px 0px;
}

div.title div.h2 a {
	color: #7E7E7E;
	text-decoration: none;
	font-size: 12px;
}

div.title span {
	font-size: 24px;
	color: #ffffff;
	line-height: 30px;
	font-family: 'Avenir_Next_Regular';
}

div.nav {
	padding: 0px;
}

div.nav div.wrapper {
	position: relative;
}

.tblMenu {
	width: 100%;
}

.tblMenu tr td {
	padding: 16px 10px 10px 0px;
}

.pregunta {
	float: right;
	padding: 10px 19px;
}

.pregunta {
	float: right;
	padding: 10px 19px;
}

.footer {
	width: 100%;
	height: 30px;
	background-color: #f8f7f7;
	bottom: 0px;
	position: fixed;
	text-align: center
}

.tblFooter {
	width: 700px;
	font-size: 10px;
	margin: 10px;
	color: #333333;
	text-align: center;
	margin: 7px auto;
}

.tblFooter tr td:nth-child(1) {
	border-right: 2px solid #006241;
	padding: 0px 3px 0px 0px;
}

.footer1 {
	width: 100%;
	height: 30px;
	background-color: #f9f9f9;
	bottom: 30px;
	position: fixed;
	text-align: center;
	color: #006341;
	padding: 3px 0px 0px 0px;
}

.tblFooter1 {
	width: 550px;
	font-size: 11px;
	margin: 10px;
	text-align: center;
	margin: 7px auto;
}

.tblFooter1 tr td:nth-child(1) {
	border-right: 2px solid #006241;
	padding: 0px 3px 0px 0px;
	font-family: 'AvenirNextLTPro-Medium';
}

a.btnGen {
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	padding: 4px 4%;
	border-radius: 5px;
	border: 1px solid #305692;
	background-color: #305692;
	display: block;
}

a.btnGen1 {
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	padding: 4px 4%;
	border-radius: 5px;
	border: 1px solid #305692;
	background-color: #305692;
}

a.btnRojo {
	border: 2px solid #f21016;
	border-radius: 5px;
	padding: 1px 10px;
	text-decoration: none;
	color: #f21016;
	font-family: 'Avenir_Next_Demi_Bold';
	margin-left: 10px;
}

img.flechaT {
	width: 8px;
	padding: 2px;
}

img.flechaT1 {
	width: 8px;
	padding: 2px;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.contHome {
	padding: 23px 0px;
	margin-bottom: 51px;
}

}
@media screen and (max-width:1100px) {
	a.btnFunc {
		font-size: 12px;
		margin: 5px;
		padding: 2px 3px;
	}
}

@media screen and (max-width: 1024px) {
	.headerMenu {
		text-align: left;
	}
	.headerLogo {
		/* text-align: left;
		padding: 0px 0px 0px 24px; */
		
	}
	.headerUser {
		text-align: right;
	}
}

@media screen and (max-width:1024px) {
}

@media screen and (max-width:900px) {
	div.fecha {
		display: inline-block;
		vertical-align: middle;
		display: none;
	}
	div.pic-name span {
		right: 2px;
	}
}

@media screen and (max-width:800px) {
	.headerUser {
		width: 330px;
	}
}

.margenRegresaPrincipal {
	float: right;
	width: 138px;
	height: 55px;
	text-align: left;
	position: relative;
}

.margenRegresa {
	float: right;
	width: 138px;
	height: 55px;
	text-align: left;
	position: relative;
}

.flechaMar {
	height: 55px;
}

.flechaPuntaMar {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 30px solid #006241;
	position: relative;
	top: 7px;
	left: 0px;
	cursor: pointer;
}

.flechaRectMar {
	width: 60px;
	height: 20px;
	position: relative;
	background: #006241;
	top: -23px;
	left: 29px;
	cursor: pointer;
}