@import url('fonts.css');

* {
	margin: 0;
	padding: 0;
}

#menuNuevoPrincipal {
	background-color: #ffffff;
}

.c-mright {
	right: 0;
	left: 0;
	border-bottom: 1px solid #f7f7f7;
}

.l-navegacion li {
	list-style-type: none;
	background-color: #fff;
	color: #efefef;
	height: 58px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	border: solid 1px #f1f1f1;
	border-left: 0px solid #f1f1f1;
}

.l-navegacion li.vacio {
	border-bottom: 1px solid #c4d6c4;
	border-top: 1px solid #c4d6c4;
}

.l-navegacion li:hover {
	margin-left: 0px;
}

.l-navegacion li img {
	float: left;
	margin: 15px 5px 12px 13px;
	width: 20px;
}

.l-navegacion li p {
	font-size: 14px;
	color: #000;
	margin: 16px 32px 0px;
	position: absolute;
	color: #333333;
}

.l-navegacion li p span {
	font-size: 14px !important;
	color: #333333;
	padding: 0px 15px 0px 0px;
	font-family: 'Avenir_Next_Bold' !important;
}

.flecha {
	font-size: 0;
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 18px;
}

.flecha::before, .flecha::after {
	content: " ";
	display: inline-block;
	vertical-align: middle;
}

.flecha::after {
	width: 0.4rem;
	height: 0.4rem;
	border-right: 2px solid #2a633d;
	border-top: 2px solid #2a633d;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: -0.5rem;
	cursor: pointer;
}

.header-usuario {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid;
	border: solid 1px #f1f1f1;
}

.header-usuario div {
	
}

div#foto {
	float: left;
	width: 27%;
	padding: 20px 0px 20px 0px;
}

div#inf-usuario {
	width: 63%;
	display: inline-block;
	float: left;
	padding: 32px 10px 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

div#inf-usuario span {
	color: #979797;
	font-size: 11px;
}

img.imgLogo {
	width: 54px;
	padding: 17px 12px 0px 38px;
}

.w87 {
	width: 87%;
	margin: auto;
}

#menuNuevo {
	padding: 0;
	margin: 0;
	border: 0;
	width: 320px;
	z-index: 1000;
}

#menuNuevo ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menuNuevo ul {
	position: relative;
	z-index: 597;
	float: left;
	margin-top: -10px;
}

#menuNuevo ul li {
	float: left;
	min-height: 1px;
	line-height: 1em;
	vertical-align: middle;
}

#menuNuevo ul li.hover, #menuNuevo ul li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}
/*Segundo nivel*/
#menuNuevo ul li ul {
	visibility: hidden;
	position: absolute;
	left: 0;
	z-index: 598;
	width: 320px;
	left: 100%;
}

#menuNuevo ul ul li {
	float: none;
}

#menuNuevo ul li:hover>ul {
	visibility: visible;
}

#menuNuevo ul li {
	float: none;
}

#menuNuevo span, #menuNuevo a {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

#menuNuevo:after, #menuNuevo ul:after {
	content: '';
	display: block;
	clear: both;
}

#menuNuevo ul, #menuNuevo li {
	width: 100%;
}

#menuNuevo li {
	background: #ffffff;
}

#menuNuevo li:hover {
	background: #f6f6f6;
}

#menuNuevo a {
	color: #666666;
	line-height: 160%;
	width: 100%;
}

#menuNuevo ul.nivel1 li:hover {
	background-color: #e6efe6;
	color: #2a633d;
}

#menuNuevo ul.nivel1 li:hover a p {
	font-family: 'Avenir_Next_Bold';
	color: #2a633d;
}

#menuNuevo ul.nivel1 li ul.nivel2 {
	margin-top: 0px;
	top: 195px;
	left: 320px;
	bottom: 0px;
	position: fixed;
	background-color: #e6efe6;
}

#menuNuevo ul.nivel1 li ul.nivel2 li {
	margin-top: 0px;
	background: #e6efe6;
	border-bottom: 1px solid #f3f8f3;
}

#menuNuevo ul.nivel1 li ul.nivel2 li a p {
	color: #979797;
	font-family: 'Avenir_Next_Regular';
}

#menuNuevo ul.nivel1 li ul.nivel2 li:hover {
	background: #c4d6c4;
}

#menuNuevo ul.nivel1 li ul.nivel2 li:hover a p {
	color: #2a633d;
	font-family: 'Avenir_Next_Bold';
}

/*Tercer nivel*/
#menuNuevo ul li ul li ul {
	position: absolute;
	z-index: 598;
	width: 100%;
	top: 0px;
	left: 100%;
	vertical-align: top;
	height: 500px;
}

#menuNuevo ul.nivel1 li ul.nivel2 li ul.nivel3 {
	margin-top: 0px;
	width: 319px;
	height: 100%;
	top: 195px;
	left: 640px;
	bottom: 0px;
	position: fixed;
	background-color: #c4d6c4;
}

#menuNuevo ul.nivel1 li ul.nivel2 li ul.nivel3 li {
	margin-top: 0px;
	background: #c4d6c4;
	border-bottom: 1px solid #ebf1eb;
	width: 319px;
}

#menuNuevo ul.nivel1 li ul.nivel2 li ul.nivel3 li.vacio {
	margin-top: 0px;
	background: #c4d6c4;
	border-bottom: 1px solid #c4d6c4;
}

#menuNuevo ul.nivel1 li ul.nivel2 li ul.nivel3 li a p {
	color: #979797;
	font-family: 'Avenir_Next_Regular';
	margin: 7px 32px 0px 32px;
}

#menuNuevo ul.nivel1 li ul.nivel2 li ul.nivel3 li:hover {
	background: #9fc19f;
}

#menuNuevo ul.nivel1 li ul.nivel2 li ul.nivel3 li:hover a p {
	color: #2a633d;
	font-family: 'Avenir_Next_Bold';
}

#menuNuevo ul.nivel1 li ul.nivel2 li ul.nivel3 li.vacio:hover {
	margin-top: 0px;
	background: #c4d6c4;
	border-bottom: 1px solid #c4d6c4;
}

#menuNuevo .has-sub {
	position: relative;
}

#menuNuevo .has-sub:after, #menuNuevo .has-sub>ul>.has-sub:hover:after {
	content: '';
	display: block;
	width: 10px;
	height: 9px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -5px;
	/*background-image: url(right.png);*/
}

#menuNuevo .has-sub>ul>.has-sub:after, #menuNuevo .has-sub:hover:after {
	/*background-image: url(img/sub-menuNuevo/flecha-verde.png);*/
	
}

#effect {
	position: fixed;
	width: 320px;
	/*overflow: hidden;*/
	background-color: #ffffff;
	z-index: 999;
	top: 52px;
	bottom: 0px !important;
	-webkit-box-shadow: 0px 2px 28px 0px rgba(59, 59, 59, 0.09);
	-moz-box-shadow: 0px 2px 28px 0px rgba(59, 59, 59, 0.09);
	box-shadow: 0px 2px 28px 0px rgba(59, 59, 59, 0.09);
	height: 100% !important;
}

.ver {
	display: block;
}

.divConfig {
	display: none;
	position: absolute;
	right: 25px;
	background-color: #ffffff;
	width: 225px;
	overflow: auto;
	box-shadow: 2px -3px 13px 2px rgba(154, 150, 150, 0.5);
	z-index: 9;
	border-radius: 10px;
	margin-top: 13px;
	font-size: 14px;
}

.contConfig {
	width: 275px;
	height: 60px;
	position: absolute;
	right: 4px;
}

.contConfig:after {
	content: "";
	border-top: 2px solid transparent;
	border-bottom: 11px solid #ffffff;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	left: 200px;
	position: absolute;
	top: 0px;
	z-index: 28;
}

.titConfig {
	color: #333333;
	font-family: 'Avenir_Next_Demi_Bold';
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #ebebeb;
}

a.divConfig1 {
	width: 100%;
	color: #cbcbcb;
	font-family: 'Avenir_Next_Demi_Bold';
	height: 44px;
	display: block;
}

a.divConfig1 div {
	float: left;
}

a.divConfig1 div:nth-child(1) {
	width: 61%;
	padding: 12px 10px;
	margin: 0px 0px 0px 10px;
}

a.divConfig1 div:nth-child(2) {
	width: 23%;
	border-bottom: 1px solid #ebebeb;
	padding: 7px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

a.divConfig1.cero {
	color: #333;
}

a.divConfig1.cero:hover {
	color: #fff;
}

a.divConfig1:hover {
	background-color: #006341;
	color: #ffffff;
	border-bottom: 1px solid #33825f
}

a.divConfig1:hover div {
	border-bottom: 1px solid #33825f
}

.titConfig1 {
	color: #333333;
}

.imgConfig {
	width: 28px;
}

.imgConfig1 {
	width: 24px;
}

.imgConfig2 {
	width: 7px;
	padding: 2px 0px 9px 0px;
}

img.imgConfig.imgIco1 {
	margin-top: -6px;
	padding: 0px 0px 6px 0px;
}

img.imgConfig.imgIco4 {
	margin-top: -5px;
	padding: 0px 0px 5px 0px;
}

img.imgConfig.imgIco5 {
	margin-top: -5px;
	padding: 0px 0px 5px 0px;
}

.transparente {
	background-color: transparent !important;
	width: 90%;
}

a.divConfig1 div span {
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	/* right: 11px; */
	background: #EC100F;
	color: #FFFFFF;
	line-height: 17px;
	border-radius: 50%;
	font-size: 9px;
	margin-top: -35px;
	margin-left: 34px;
}

.liSimple a p {
	margin: 6px 32px 0px 32px;
}

.liDoble a p {
	margin: 9px 32px 0px 32px;
}

@media ( max-width : 1000px) {
	@media ( max-width : 780px) {
		#menuNuevo ul ul {
			visibility: hidden;
			position: absolute;
			z-index: 598;
			width: 100%;
			top: -240px;
			left: 0%;
			height: 600px;
			background-color: #efefef;
		}
		#menuNuevo {
			width: 100%;
		}
		div#editar {
			float: right;
			height: 103px;
			margin-top: -1px;
			width: 38px;
		}
		div#editar img {
			width: 55%;
			padding: 34px 12px;
		}
	}
	@media ( max-width : 500px) {
		div#inf-usuario {
			font-size: 1em;
			padding: 29px 23px 20px 0px;
		}
		div#foto {
			width: 25%;
		}
	}
}





/* ES EL METODO PARA ESTILO DEL CAROUSEL */


/* CSS del Carousel elaborado apartir de las bibliotecas de Bootstrap */
.container {
	position: absolute;
	height: 400px;
	width: 600px;
	left: 25%;
}

#content:hover {
	position: relative;
	z-index: 1;
}

.carousel {
	position: relative;
	z-index: 0;
}

.carousel:hover {
	position: relative;
	z-index: 1;
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden
}

.carousel-inner>.item {
	position: relative;
	display: none;
	transition: .6s ease-in-out left;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	width: 700px;
	height: 500px;
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
	display: block
}

.carousel-inner>.active {
	left: 0
}

.carousel-inner>.next, .carousel-inner>.prev {
	position: absolute;
	top: 0;
	width: 100%
}

.carousel-inner>.next {
	left: 100%
}

.carousel-inner>.prev {
	left: -100%
}

.carousel-inner>.next.left, .carousel-inner>.prev.right {
	left: 0
}

.carousel-inner>.active.left {
	left: -100%
}

.carousel-inner>.active.right {
	left: 100%
}

.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 50;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none
}

/*BOTON NEXT UNSELECTED*/
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	border: 1px solid #D8D8D8;
	background-color: #D8D8D8;
	border-radius: 10px
}

/*BOTON NEXT SELECTED*/
.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #848484;
}

.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #BDBDBD;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel-caption .btn {
	text-shadow: none
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive,
	.thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: -1;
}

[role=button] {
	cursor: pointer
}

.flechas {
	position: absolute;
	top: 40%;
	font-size: 80px;
	z-index: 1;
	font-weight: bold;
	color: #ffffff;
	opacity: .5;
	text-decoration: none;
}

#fAnterior {
	left: 0%;
	z-index: 0;
}

#fSiguiente {
	right: 0%;
}

#fAnterior:hover {
	transform: scale(1.5);
	color: white;
	opacity: .9;
	z-index: 1;
}

#fSiguiente:hover {
	transform: scale(1.5);
	color: white;
	opacity: .9;
}

/* CSS del Carousel TRIUNFO*/
#popup {
	visibility: hidden;
	opacity: 0;
	margin-top: -1000px;
}

#popup:target {
	visibility: visible;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	/*z-index: 999;*/
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}

.popup-contenedor {
	position: relative;
	margin: 7% auto;
	padding: 0px 0px;
	background-color: #fafafa;
	color: #333;
	border-radius: 3px;
	width: 75%;
}

a.popup-cerrar {
	position: absolute;
	top: 3px;
	right: 3px;
	background-color: #333;
	padding: 7px 10px;
	font-size: 20px;
	text-decoration: none;
	line-height: 1;
	color: #fff;
}

/*INICIA CAROUSEL TRIUNFO*/
#contentTriunfo {
	position: relative;
	height: 100%;
	width: 600px;
	z-index: 1;
}

.carouselTriunfo {
	position: relative;
	z-index: 1;
}

.carouselTriunfo-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carouselTriunfo-inner>.item {
	position: relative;
	display: none;
	transition: .6s ease-in-out left;
}

.carouselTriunfo-inner>.item>a>img, .carouselTriunfo-inner>.item>img {
	width: 100%;
	height: 100%;
}

.carouselTriunfo-inner>.active, .carouselTriunfo-inner>.next,
	.carouselTriunfo-inner>.prev {
	display: block
}

.carouselTriunfo-inner>.active {
	left: 0
}

.carouselTriunfo-inner>.next, .carouselTriunfo-inner>.prev {
	position: absolute;
	top: 0;
	width: 95%;
}

.carouselTriunfo-inner>.next {
	left: 100%
}

.carouselTriunfo-inner>.prev {
	left: -10%
}

.carouselTriunfo-inner>.next.left, .carouselTriunfo-inner>.prev.right {
	left: 0
}

.carouselTriunfo-inner>.active.left {
	left: 100%
}

.carouselTriunfo-inner>.active.right {
	left: 100%
}

.carouselTriunfo-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 1;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none
}

/*BOTON NEXT UNSELECTED*/
.carouselTriunfo-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	border: 1px solid #D8D8D8;
	background-color: #D8D8D8;
	border-radius: 10px
}

/*BOTON NEXT SELECTED*/
.carouselTriunfo-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #848484;
}

.carouselTriunfo-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #BDBDBD;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carouselTriunfo-caption .btn {
	text-shadow: none
}

.carouselTriunfo-inner>.item>a>img, .carouselTriunfo-inner>.item>img,
	.img-responsive, .thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: -1;
}

[role=button] {
	cursor: pointer
}

.flechas {
	position: absolute;
	top: 40%;
	font-size: 80px;
	z-index: 0;
	font-weight: bold;
	color: #ffffff;
	opacity: .5;
	text-decoration: none;
}

#myCarouselTriunfo {
	margin-right: 15px;
}

#fAnterior {
	left: 0%;
}

#fSiguiente {
	right: 0%;
}

#fAnterior:hover {
	transform: scale(1.5);
	color: white;
	opacity: .9;
}

#fSiguiente:hover {
	transform: scale(1.5);
	color: white;
	opacity: .9;
}

/* ES EL METODO PARA ESTILO DEL CAROUSEL */




.btnRegistrar {
	background-color: #fff;
	width: 100px;
	line-height: 25px;
	display: block;
	text-align: center;
	border: 1px solid #d7d7d7;
	color:black;
}

.btnRegistrar:hover {
	background-color: #006341;
	width: 100px;
	line-height: 25px;
	display: block;
	text-align: center;
	border: 0px;
	color:white;
	cursor:pointer;
}


textarea {
  resize: none;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../../images/ajax-loader.gif') 50% 50% no-repeat;
}


.amarillo {
  filter: hue-rotate(60deg) brightness(500%);
}