div.modal { display:none; }
/* Overlay */
#simplemodal-overlay { background-color:#fff; }

/* Container */
.simplemodal-header {
	text-align: center;
	background-color: #1D4E8A;
	color: #FFFFFF;
	padding: 8px;
	font-size: 14px;
}
#simpldemodal-container {
	width: 550px; 
	*width: 620px;  
	margin: 0 auto;
	background-color:#FFFFFF; 
	border:1px solid #AAB7CE;
	border-radius: 3px;
	font-size: 11px;
}
 
.simplemodal-body { padding: 10px; }
div.checks div{ margin-bottom: 10px; }
.modal div.H1 {
    width: 94.1%;
    background-color: #ffd51d;
    color: #737373;
    font-size: 18px;
    /* text-align: center; */
    line-height: 30px;
    height: 30px;
    /* border-bottom: 1px solid #116340; */
    margin: auto;
    margin-top: -46px;
    text-align: left;
    padding: 10px 0px 10px 6%;
}

.modal div.padding {margin: 15px; text-align:center; font-size:16px;width:85%; margin:auto}
.modal div.right {margin: 15px; text-align:justify; font-size:16px; width:85%; margin:auto}
.left{ text-align:left;}

.cuadro {
    width: 750px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    text-align: right;
    border: 1px solid #E0E0DE;
    -moz-box-shadow:  0px 0px 16px 4px rgb(204, 202, 202);	
    -webkit-box-shadow:  0px 0px 16px 4px rgb(204, 202, 202);	
    box-shadow: 0px 0px 16px 4px rgb(204, 202, 202);
}
.cuadro1 {
    width: 650px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    text-align: right;
    border: 1px solid #E0E0DE;
    -moz-box-shadow:  0px 0px 16px 4px rgb(204, 202, 202);	
    -webkit-box-shadow:  0px 0px 16px 4px rgb(204, 202, 202);	
    box-shadow: 0px 0px 16px 4px rgb(204, 202, 202);
}

.cuadro2 {
    width: 500px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    text-align: right;
    border: 1px solid #E0E0DE;
    -moz-box-shadow:  0px 0px 16px 4px rgb(204, 202, 202);	
    -webkit-box-shadow:  0px 0px 16px 4px rgb(204, 202, 202);	
    box-shadow: 0px 0px 16px 4px rgb(204, 202, 202);
}

.cerrar {
    padding: 0px 0px 10px 10px;
    width: 23px;
}
.titModal {
    font-size: 25px;
    width: 90%;
    text-align: left;
    margin: auto;
	    margin-top: -20px;
}
.texto1 {
    color: #363636;
    padding: 7px 0px;
    font-size: 14px;
    text-align: center;
}