.pagedemo {
    /* border: 1px solid #CCC; */
    width: 76%;
    /* margin: 2px; */
    padding: 10px 0px;
    text-align: center;
    /* background-color: white; */
    display: none;
    margin: auto;
	    margin-bottom: 20px;
}
ul.jPag-pages li a,
.jPag-first,
.jPag-last{color: rgb(255, 255, 255); border: 0px solid rgb(255, 255, 255); background-color: black;}


.jPaginate {
    position: relative;
    color: #a5a5a5;
    font-size: small;
    width: 130px;
    margin: auto;
	    /*margin-left: 64%;*/
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
	position:absolute;
	left:0px;
}
.jPag-control-front{
	position:absolute;
	top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;    width: 10px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 0px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 0px;
    margin:2px;
    float:left;
	color: rgb(0, 0, 0);
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
   height: 15px;
    margin: 2px;
    float: left;
    /* line-height: 18px; */
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
        width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
     text-align:right;
}
span.jPag-previous-img{
    background:transparent url(../../images/supervisionSistemas/sprevious.png) no-repeat center right;background-size: 7px;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../../images/supervisionSistemas/snext.png) no-repeat center left;background-size: 7px;
            }
span.jPag-sprevious-img{
    background:transparent url(../../images/supervisionSistemas/previous.png) no-repeat center right;background-size: 7px;
            }
span.jPag-snext-img{
    background:transparent url(../../images/supervisionSistemas/next.png) no-repeat center left;background-size: 7px;
            }


img.imgFlecha {
    width: 10px;
    padding: 0px;
}

@media screen and (max-width:950px) {
.jPaginate {/*margin-left: 59%;*/}	
.pagedemo {width: 85%;}
}