@charset "UTF-8";
/* CSS Document */
a{text-decoration: none;}
.w150 {
    width: 150px !important;
}
.m1{margin: 5px 1% 0px 0% !important;}
.p4 tr td{padding: 4px 2px !important;}
.gris {
    margin: 20px 0px 20px 0px;
    padding: 1px 0px 0px 0px;
    background-color: #fafafa;
    border-radius: 15px;
    moz-box-shadow: 2px 3px 7px rgb(243, 243, 243);
    -webkit-box-shadow: 2px 3px 7px rgb(243, 243, 243);
    box-shadow: 2px 3px 7px rgb(243, 243, 243);
    width: 94%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding: 10px 2%;
}
.txtG{color:#8a8a8a;}
.texto {
    color: #000;
    padding: 7px 0px;
    font-size: 14px;
    font-family: 'Avenir_Next_Demi_Bold';
}

.tblSimple {
    width: 98%;
    margin: auto;
}
.tblSimple tr td {
    padding: 2px 10px;
}

.tblGeneral {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #8a8a8a;
	font-size: 11px;
}

.tblGeneral tr th {
    border-bottom: 2px solid #386345;
    color: #8a8a8a;
    padding: 3px 0px;
}

.tblGeneral tr td {
    padding: 7px 2px;
	background-color: #fafafa;
}
.tblGeneral tr:nth-child(odd) td{ background-color: #f3f3f3;}

.tblGeneral tr td:nth-child(3) {
	text-align: left;}
a.btnbuscar, .btnbuscar {
    background-color: #006341;
    width: 30px;
    padding: 6px 0px 2px 2px;
    line-height: 15px;
    display: block;
    text-align: center;
    float: right;
    background-image: url(../img/lupaB.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 0px;
}
.tblBusquedas {
    width: 90%;
    margin: auto;
}
.tblBusquedas tr td {

}


.tblBusquedas tr td:nth-child(1){width: 4%; text-align: left;padding: 2px 2% 2px 0%;}
.tblBusquedas tr td:nth-child(2){width: 10%;text-align: center;padding: 2px 2% 2px 0%;}
.tblBusquedas tr td:nth-child(3){width: 10%;text-align: center;padding: 2px 2% 2px 0%;}
.tblBusquedas tr td:nth-child(4){width: 20%;text-align: center;padding: 2px 2% 2px 0%;}
.tblBusquedas tr td:nth-child(5){width: 20%;text-align: center;padding: 2px 2% 2px 0%;}
.tblBusquedas tr td:nth-child(6){width: 4%;    text-align: right;padding: 2px 0% 2px 0%;}
.tblBusquedas tr:nth-child(2) td{ text-align: left;padding: 2px 0px 0px 10px;color:#8a8a8a;}
img.imgLupa {
    width: 15px;
}
a.btnG {
    display: block;
    background-color: #b2b1ab;
    color: #fff;
    text-decoration: none;
    padding: 5px 3px 5px 14px;
    vertical-align: top;
    width: 78px;
    height: 17px;
    position: relative;
    margin-top: -29px;
    margin-right: 12%;
    float: right;
    background-image: url(../img/icoExcel.svg);
    background-repeat: no-repeat;
    background-position: 89%;
    background-size: 15px;
}
a.btnG img{
width: 16px;
}

.titulo {
    margin: auto;
    text-align: left;
    color: #006341;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 14px;
    margin-bottom: 10px;
    width: 76%;
    margin-top: 20px;
}
.titulo.titSucursal{width: 90%;}
.titulo span{
    color: #666666;
}

.titSucursal div {
    float: left;
    margin: 0px 3%;margin-bottom: 20px;
}
.titSucursal div:nth-child(1){margin: 0px 3% 0px 0px;margin-bottom: 20px;}

.divSucursal{width: 90%; margin: auto;margin-bottom: 51px;overflow: auto;}
.divSucursal div.colS1, .divSucursal div.colS2{float: left; width: 49%;}
.divSucursal div.colS1{margin: 0px 2% 0px 0px;}
tr.total td {color:#000; font-family: 'Avenir_Next_Demi_Bold';    text-align: center !important;}
img.imgOk {width: 10px;}

div.colS2 div.gal {
    width: 45%;
    float: left;
    margin: 0px 2.5% 7px 2.5%;
	    background-color: #ededed;
}
.gal IMG {
    width: 100%;
}
.tblGal {
    width: 94%;
    margin: 5px 3%;
}
.tblGal tr td{vertical-align: top;}
.tblGal tr td:nth-child(1){color:#333333;font-family: 'AvenirNextLTPro-Medium';}
.titTabla{color: #006341 !important;font-size: 14px;background-color: transparent !important;font-weight: bold;}
.titTabla strong{color:#8a8a8a;}
.titTabla strong span{color:#006341;}

.home {
    width: 90%;
    margin: auto;
}
.btnHome {
    background-color: #f7f7f7;
    width: 29%;
    float: left;
    padding: 8px 1%;
    margin: 1%;
    border-radius: 10px;
	    -moz-box-shadow: 0 2px 4px rgba(2245, 245, 245, 1);
    -webkit-box-shadow: 0 2px 4px rgba(2245, 245, 245, 1);
    box-shadow: 0 0px 1px rgba(2245, 245, 245, 1);
	border:1px solid transparent;
}
.txtVerde{    color: #1B9962 !important;font-family: 'Avenir_Next_Demi_Bold';}
.txtRojo{color:#ec100f;font-family: 'Avenir_Next_Demi_Bold';}
.bRojo{border:1px solid #ec100f;}
.tblbtnHome{width: 100%; font-size: 11px;color: #8a8a8a;}
.tblbtnHome tr td{padding: 2px 2%;}
.tblbtnHome tr td:nth-child(2){text-align: right;}

.aviso {
    width: 90%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

table.tblHeader {
    width: 88%;
    margin: auto;
}
table.tblHeader tr td:nth-child(1){text-align: left;font-family: 'Avenir_Next_Demi_Bold'; font-size: 16px;}
table.tblHeader tr td:nth-child(2){text-align: right;}
@media screen and (max-width:1000px) {
	.titulo {font-size: 12px;}
	
	.btnHome {width: 45%;}
}