.m15{ margin-top: -15px;}
.w66 {width: 68%;margin: 15px 0% 15px 1%;max-height: 450px;}
.w30 {width: 30%;     margin: 15px 1% 15px 0px;}
.p1{ padding: 0px 0px 0px 1%;}
.contSecc {width: 94%;margin-top: 20px;margin: auto;}
.contHome { margin-top: -15px;}
.contHome {width: 100%;background-image: url(/checklist/img/supPI2/home.png);position: absolute;background-size: cover;background-position: center;height: 87%;}
.titHome {position: absolute; top: 10%;left: 5%;max-width: 600px;}
.titHome1 {font-size: 4em;font-family: 'Avenir_Next_Demi_Bold';text-shadow: 1px 2px 5px #000000;color: #fff;}
.titHome2 {font-size: 2em; color: #5fac98;}
span.txtG {color: #006340;text-shadow: 1px 2px 1px #fff;}
img.imgHome {position: absolute;width: 80%;bottom: 30px;right: 30px;max-width: 900px;}

.titSec {
    border-bottom: 2px solid #006341;
    padding: 15px 0% 5px 0px;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 17px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #000;
}
.tit {
    color: #333333;
    font-family: 'AvenirNextLTPro-Medium';
    width: 100%;
    margin: auto;
    font-size: 15px;
    margin-bottom: 10px;
}

.titCol {
    color: #333333;
    font-family: 'AvenirNextLTPro-Medium';
    width: 100%;
    margin: auto;
    font-size: 15px;
   padding-left: 1%;   
}
.gris {
    width: 100%;
    margin: 0px auto;
    padding: 15px 15px;
    background-color: #faf9f9;
    -moz-box-shadow: 0 0px 1px rgb(226, 222, 222);
    -webkit-box-shadow: 0 0px 1px rgb(226, 222, 222);
    box-shadow: 0 0px 1px rgb(226, 222, 222);    margin-bottom: 15px;    text-align: justify;
}
.btnCenter {display: flex;justify-content: center; flex-wrap: wrap;   margin: 15px 0px 10px 0px;}
.btnCenter a {    margin: 0px 1% 10px 0px;}

.btnDer {display: flex;justify-content: flex-end;flex-wrap: wrap;}
.btnDer a {margin: 0px 0% 10px 2%;}
.btnDer a:first-child {margin: 0px 0% 10px 0%;}

.btnIzq {display: flex;justify-content:flex-start;flex-wrap: wrap;}
.btnIzq a {margin: 0px 2% 10px 0%;}
.btnIzq a:last-child {margin: 0px 0% 10px 0%;}

.btnSpace{display: flex;justify-content: space-between;flex-wrap: wrap;}
.btnSpace a {margin: 0px 0% 10px 0%;}

.btnAround{display: flex;justify-content: space-around;flex-wrap: wrap;}
.btnAround a {margin: 0px 0% 10px 0%;}

.botones {display: flex;flex-wrap: wrap; margin: 18px 0px 0px 0px;}
.botones a {    margin: 0px 1% 10px 0px;}
.btnA {
    background-color: #006341;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
    max-width: 200px;
    font-family: 'AvenirNextLTPro-Medium';
    justify-content: center;
    align-items: center;
    height: 30px;
}
.btnG {
    background-color: #54585a;
    color: #fff;
    font-family: 'Avenir_Next_Regular';
}
.btnB {
    background-color: #fafafa;
    -moz-box-shadow: 0px 0px 11px rgb(204, 202, 202);
    -webkit-box-shadow: 0px 0px 11px rgb(204, 202, 202);
    box-shadow: 1px 1px 3px rgb(204, 202, 202);color: #2d2926;
}
.btn {
    background-color: #006341;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
	max-width: 200px;
    font-family: 'AvenirNextLTPro-Medium';
    display: flex;
    justify-content: center;
    align-items: center;height: 30px;
}
.btn div{    width: 15px;height: 15px;    margin: 0px 10px 0px 0px;}



.btnGuardar div {background-image: url(/checklist/img/supPI2/icoGuardar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);-ms-filter: brightness(300%);}
.btnEditar div{background-image: url(/checklist/img/supPI2/icoEditar.svg); background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnLimpiar div{background-image: url(/checklist/img/supPI2/icoLimpiar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnDescargar div{background-image: url(/checklist/img/supPI2/icoDescargar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnImprimir div{background-image: url(/checklist/img/supPI2/icoPrint.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}

.btnWord div {background-image: url(/checklist/img/supPI2/icoWord.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnExcel div{background-image: url(/checklist/img/supPI2/icoExcel.svg); background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnPpt div{background-image: url(/checklist/img/supPI2/icoPpt.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnTxt div{background-image: url(/checklist/img/supPI2/icoTxt.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.btnPdf div{background-image: url(/checklist/img/supPI2/icoPdf.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}

.btnAgregar div{background-image: url(/checklist/img/supPI2/icoAgregar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);-moz-filter: brightness(300%);-o-filter: brightness(300%);}
.w120{width: 120px !important; margin-top: 18px;}

.btnAgregar {
    text-align: center;
    padding: 5px 10px;
    margin: auto;
	text-decoration: none;
    background-color: #006341;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
    max-width: 250px;
    font-family: 'AvenirNextLTPro-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.btnAgregar div {
    background-image: url(/checklist/img/supPI2/icoAgregar.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin-right: 10px;    float: left;
}

.btnAgregar1 {
    padding: 5px 0% 5px 0px;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 14px;
    color: #575757;
    padding: 8px;
    border: 1px #575757 dashed;
    text-align: center;    background-color: #fff !important;
}
.btnAgregar1 img {width: 20px;height: 20px;}
.gris .btnCenter.btnBotton {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 100%;
}
img.ico {width: 20px; height: 20px;    cursor: pointer;}
.tblGeneral {
    width: 98.8%;
    padding: 10px 0%;
    margin: 0px auto;
}
.tblGeneral tr th {
    padding: 5px 10px 6px 10px;
    color: #333333;
    text-align: center;
    font-weight: 100;
    border-bottom: 2px solid #006341;
	font-size: 14px;font-family: 'AvenirNextLTPro-Medium';min-width: 87px;
}
.tblGeneral tr td {
    padding: 7px 10px 7px 10px;
    color: #606664;
    font-size: 13px;
    text-align: center;
    border-bottom: 3px solid #ffffff;    border-right: 2px solid #fff;
}
.tblGeneral tr:nth-child(odd) td {background-color: #f2f2f2;}
.tblGeneral tr:nth-child(even) td {background-color: #ffffff;}
.tblGeneral tr:hover td {    background-color: #e6efe6;}
.tblGeneral tr td a{color: #5fac98;
    text-decoration: underline;
    font-family: 'AvenirNextLTPro-Medium';}
.tblGeneral tr td img{width: 15px;    cursor: pointer;}
.cantidad {
    width: 120px;
    margin: auto;
    text-align: right;    color: #000;
}
tr.total  td{font-family: 'Avenir_Next_Demi_Bold';}
.divRadio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: stretch;
    margin: 0px 1%;
}
.divRadio div { width: 25%;min-width: 160px;text-align: left;}
.divCol2Input {    display: flex;
    flex-wrap: wrap;
    align-items: center; }
.divCol2Input div{width: 50%;min-width: 160px;}
.CheckOrden div { width: 50%; min-width: 148px;}
.divRadio input[type=radio] + label {padding: 6px 30px 5px 22px;}


/*Checkbox*/
.tblCheck tr th:nth-child(1), .tblCheck tr td:nth-child(1){ width: 50px !important;}
/*Switch*/
.tblCenter { display: flex;justify-content: center; }


/*Visualizador*/
.tabVisual {
	width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 1px rgb(226, 222, 222);
}
.tabVisual li {
    list-style: none;
    margin: 0px 0%;
    width: 100%;
    height: 46px;
    display: flex;
    padding: 0px 5px 0px 15px;
    border-bottom: 1px solid #e4e0e0;
}
.tabVisual li:last-child{ border: 0px;}
.tabVisual li a {color: #000; width: 100%; padding: 13px 0px; text-decoration: none;}
.tabVisual li.active a {font-family: 'Avenir_Next_Demi_Bold';color: #ffffff;}
.tabVisual li.active {background-color: #006341; color: #000;}
.tabVisual li:hover {background-color: #c4d6c4; }
.tabVisual li:hover a{color: #000 !important;}
iframe.frameVisual {width: 100%; min-height: 480px; border: none;}
div.imgVisual {display: flex; align-items: center; flex-direction: column;}
div.imgVisual img {width: 80%;}


/*----------------- Busqueda -----------------*/
.cotOpBus { margin: 30px 0px 15px; font-size: 20px; display: flex; justify-content: center; align-items: center; }
.cotOpBus div:nth-child(1) { width: 100px; height: 2px; background-color: #006341; }
.cotOpBus div:nth-child(2) { padding: 0px 15px; }
.cotOpBus div:nth-child(3) { width: 100px; height: 2px; background-color: #006341; }
.flexJusCen { display: flex; justify-content: center; }
.contBalco { width: 100%; margin: 0px auto; padding: 15px 15px; background-color: #ffffff; margin-bottom: 15px; text-align: justify; }

/*-----------------  Búsqueda de Sucursal -----------------*/
.datSuc { width: 100%; }
.datSuc { display: flex; justify-content: space-between; align-items: center; }
.datSuc div { width: 50%; }
.datSuc > div:nth-child(1) > div:first-of-type { font-size: 20px; padding-bottom: 10px; }
.datSuc > div:nth-child(1) > div { width: 100%; }


/*-----------------  Detalle del protocolo -----------------*/
.datProt { width: 100%; }
.datProt { display: flex; justify-content: space-between; }
.datProt > div { width: 50%; }
.datProt > div:nth-child(1) > div:first-of-type { font-size: 20px; padding-bottom: 10px; }
.datProt > div:nth-child(2) > div { width: 60%; margin-bottom: 15px; }
.flexJusDer { display: flex; align-items: flex-end; flex-direction: column; }
.datProt table { width: 100%; }
.datProt tr td:nth-child(1) { width: 20%; }
.datProt tr td:nth-child(2) { width: 80%; }
div.dataTables_wrapper div.dataTables_length label { display: none!important; }
.txtVerde { color: #006341; }

.divGraficaH {display: none;}
.btnAG {
    max-width: 350px !important;
    width: 350px;
}
.btnRight {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 15px 0px 10px 0px;
}
.w30A{
  width: 2% !important;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexEnd { align-items: flex-end!important; }
.imgodal { width: 100%; }

.w30A div {padding-top: 13px;}

.divHideS {
    display: none;
}

.divHideS.current {
    display: block;
}


.txtVerde {color: #006240 !important;}
.titRGaleria  {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.titRGaleria a {display: block;}

.contImagen {width: 100%;}
.imgGrande {width: 100%;}
.imgGrande img {width: 100%;}

.pageImagen {margin-bottom: 0 !important;}


.w33{width: 33.33%;margin: 0 auto;}
.bold {font-family: 'Avenir_Next_Bold';}

.w100 {width: 100%;margin:0 auto;padding: 15px 15px;box-sizing: border-box;}
.divResultadoBusquedaP {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
.divAgregarPersonal {
    display: flex;
    align-items: center;
}
.divAgregarPersonal a {padding-left: 10px;}
.btnAsignar {display: flex;flex-wrap: nowrap;justify-content: flex-end;}
.btnGrande {max-width: 350px !important;}

.w70 {width: 70%;margin:0 auto;}

@media screen and (max-width: 1024px) { 
img.imgHome {width: 72%;bottom: 20px;}
}
@media screen and (max-width: 1000px) { 
.divRadio div {width: 33%;}
span.txtG { color: #51d42c;text-shadow: 1px 2px 1px #1f337c;}
.titHome {top: 5%;}
.titHome1 {font-size: 3em;}
.titHome2 {font-size: 1.5em;}
}
@media screen and (max-width: 900px) { 
	.col3btn{    flex-grow: 1;text-align: -webkit-center; }
	.col3btn .w120{margin-top: 0px;}
  img.imgHome {width: 65%;}

  .datProt > div:nth-child(2) > div { width: 100%; }
  
  .datSuc div { width: 55%;}
  .datSuc > div:nth-child(1) > div:first-of-type {text-align: left;}
  .flexJusCen .col4B {    width: 40% !important;}
  .w30A {width: 2% !important;}
  .col4Buscar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
    .divTablero5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divTablero1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 700px) { 
	.col2btn{    flex-grow: 1;text-align: -webkit-center; }
	.col2btn .w120{margin-top: 0px;}
	.botones{justify-content: center;}
	.divRadio div {width: 50%;}
	 .pasos{width: max-content;}/*trackin*/
	/*Visualizador*/
	.w30 { width: 100%; margin: 15px 1%;}
	.w66 {width: 100%;}
	.tabVisual {flex-direction: row; text-align: center;}
	iframe.frameVisual {min-height: 400px;}
	.tabVisual li a {font-size: 12px;}
  .tabVisual li {padding: 0px ;}

  .datProt > div { width: 100%; }
  .datProt > div:nth-child(1) { margin-bottom: 15px; }
  .datProt > div:nth-child(2) > div { width: 100%; }
  .datProt { flex-direction: column; }
  .datSuc {flex-direction: column;}
  .datSuc div { width: 100%; }
  .datSuc div:nth-child(1) { padding-bottom: 15px; }
  .datSuc div:nth-child(2) { justify-content: center; }

  .dataTables_info {font-size: 12px;}
  .btnRight { justify-content: center !important;}
  .flexJusCen .col4B {    width: 98% !important;}
  .w30A {width: 2% !important;    margin: 5px 1% !important;}
  .flexJusCen .col4B {margin: 5px 1% !important;}
  .col3Buscar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
.menuTabs, .menuTabs li {  height: 60px;  } 
.menuTabs li {  padding: 0 11px} 

.dataTables_wrapper .row {display: block;  }
.dataTables_wrapper .row div {display: block;  text-align: left;}

div.dataTables_wrapper div.dataTables_paginate {margin-top: 15px;}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center !important;
}

div.dataTables_wrapper div.dataTables_filter {text-align: left !important; margin-top: 15px;}
.dataTables_filter input[type="search"] { width: 100%;}
}

@media screen and (max-width: 500px) {
.divCol3 > .col3 input[type=checkbox] + label, .divCol3 > .col3 input[type=radio] + label {width: 100%;}	
	.divRadio div {width: 100%;}
	.divCol2Input div{width: 100%;}
}
@media screen and (max-height: 820px) {
.contHome {height: 83%;}
}
@media screen and (max-height: 650px) {
.contHome {height: 78%;}
}
@media screen and (max-height: 520px) {
.contHome {height: 74%;}
}