<table WIDTH="100%" cellspacing='0' cellpadding='0'>
	<tbody>
		<tr>
			<td>
				<table WIDTH="100%" cellspacing='5' cellpadding='0'>
					<tbody>
						<tr>
							<td WIDTH="15%" >
								<img src='@imagenClasifImg' width='25%'></img>
							</td>
							<td WIDTH="55%" ><span id="detalleClasif">@detalleClasif</span></td>
							<td WIDTH="5%">
							</td>
							<td WIDTH="25%" >
								<img src='@rutaPondClasifImg' width='50%' ></img>
						 	</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><span id="totalPondClasif">Total: @totalPondClasif</span></td>
						</tr>
					</tbody> 
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table WIDTH="100%" cellspacing='0' cellpadding='0'>
					<tbody>
						<tr HEIGHT="100%">
							<td WIDTH="55%"  HEIGHT="100%">
								<img src='@rutaGraficaImg' width="125%"></img>
							</td>
							<td WIDTH="5%"  HEIGHT="100%">

							</td>
							<td WIDTH="40%"  HEIGHT="100%">
								<table WIDTH="100%" HEIGHT="100%" cellspacing='0' cellpadding='0'>
									<tbody HEIGHT="100%">
										<tr><td height="30%"></td></tr>
										<tr><td height="30%">
																	<table cellspacing='0' cellpadding='0' WIDTH="100%">
													<tr style='color: white; background-color: black;'>
														<th
															style='color: white; background-color: white; border: 0.25px solid white'></th>
														<th style='text-align: center; font-size: 5px;'>items</th>
														<th style='text-align: center; font-size: 5px;'>items %</th>
														<th style='text-align: center; font-size: 5px;'>Calificación</th>
													</tr>
													<tr>
														<td
															style='color: white; background-color: white; border: 0.25px solid white'>
															<img src='@direccionItemsAprovados02' width='10' height='10' ></img>
														</td>
														<td style='font-size: 10px;'>@countItemSi</td>
														<td style='font-size: 10px;'>@pondItemSi</td>
														<td rowspan='2' style='background-color: #F0EFF0; font-size: 10px;'>@califClasif</td>
													</tr>
													<tr>
														<td
															style='color: white; background-color: white; border: 0.25px solid white'>
															<img src='@direccionItemsAtender02' width='10' height='10' ></img>
														</td>
														<td style='font-size: 10px;'>@countItemNo</td>
														<td style='font-size: 10px;'>@pondItemNo</td>
													</tr>
												</table>
										</td></tr>
										<tr>
											<td height="30%">

											</td>
										</tr>
										
									</tbody>
								</table>
							</td>
							
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td>
		@verDetalle
		</td></tr>
		
	</tbody>
</table>


