
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.ttf');
}
body {
    font-family: Calibri;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
}
#logoBAZ {
    margin-left: -5%;
    margin-top: -10%;
    width: 85%;
    height: 300%;
}
