/*Estilos por Jose Gpe*/
.lineaVerde {
	width: 100%;
	height: 60px;
	background-color: #5fc297;
}

.header {
	background-color: #ECECEC;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	border: none !important;
	width: 100%;
	padding-top: 1em !important;
	height: 2.6em;
}

#cotenidoLogoCabecera {
	float: left;
	width: 10% !important;
	margin-left: 1%;
}

#cotenidoLogoCabecera img {
	height: 2.5em;
	width: 8em;
}

.imgHamburgesa {
	padding: 8px 19px 18px 15px !important;
}

.headerUser {
	margin: 0 !important;
	position: none !important;
	top: 0 !important;
	font-size: 12px;
	text-align: right;
	vertical-align: super;
}

#divImagenSalir {
	float: right;
	width: 1%;
}

div.title {
	background-color: #5fc297 !important;
	height: 70px !important;
}

div.title .wrapper {
	margin: 0 !important;
	width: 100% !important;
	text-align: center;
}

div.title div.h2 a, div.title h1, div.title .wrapper {
	color: #fff !important;
}

.etiquetas {
	text-align: left;
	color: #33343f;
	font-weight: 600;
	font-family: 'Roboto Regular', Fallback, sans-serif;
	padding-bottom: 10px;
	font-size: 11px;
}

.buscar1 {
	width: 98%;
	max-width: 400px;
	height: 35px;
	border: 1px solid #d8d8d8;
}

div#cuerpo {
	background-color: #f3f4f4 !important;
}

.ui-widget {
	border: none !important;
}

.dk-selected {
	background-color: #fff;
	border: 1px solid #d8d8d8;
	height: 35px !important;
}

.footer, .footer1 {
	background-color: #5fc297 !important;
	color: #fff !important;
}

.tblFooter {
	color: #fff !important;
}

a.btnRojo {
	border: 2px solid #f21016;
	color: #fff !important;
	background-color: #f21016;
}

.tblFooter1 tr td:nth-child(1) {
	border-right: 2px solid #fff !important;
}

.tblFooter tr td:nth-child(1) {
	border-right: 2px solid #fff !important;
}

.btnRegistrar {
	background-color: #5fc297;
	width: 143px;
	border: 1px solid #5fc297;
	color: #fff;
}

.btnRegistrar:hover {
	background-color: #5fc297;
	width: 153px;
	line-height: 30px;
	display: block;
	text-align: center;
	border: 0px;
	color: white;
	cursor: pointer;
}

.h2 {
	margin-top: 1%;
}

.tblGeneral tr th {
	border-bottom: 2px solid #5fc297 !important;
	color: #000 !important;
}

.tblGeneral tr:nth-child(odd) td, .tblGeneral tr td {
	background-color: #fff !important;
	border-bottom: 1px solid #d2d2d2 !important;
	height: 40px;
}

.btnHome {
	border-radius: 0px !important;
	border-bottom: 2px solid #00ca9d !important;
	background-color: #fff !important;
}

.txtVerde {
	color: #00ca9d !important;
}

strong {
	color: #79d6d3;
}

.tblBusquedas tr td:nth-child(1) {
	font-size: 16px !important;
}

.tblBusquedas tr td:nth-child(1), .tblBusquedas tr td:nth-child(2),
	.tblBusquedas tr td:nth-child(3), .tblBusquedas tr td:nth-child(4),
	.tblBusquedas tr td:nth-child(5) {
	text-align: left !important;
	color: #000;
	font-weight: 700;
	font-family: 'Roboto Regular', Fallback, sans-serif;
	width: 200px !important;
}

.tblBusquedas {
	width: 76% !important;
}

input[type="text"], input[type="date"], input[type="number"], input[type="file"]
	{
	border: 1px solid #c4c4c4 !important;
	border-radius: 0px !important;
	height: 35px !important;
}

.titulo {
	color: #36333b;
	font-weight: 700;
}

#tags {
	border: 1px solid #d7d7d7 !important;
}

a.btnbuscar, .btnbuscar {
	background-color: #d2d2d2 !important;
	width: 40px !important;
	float: none !important;
	padding: 0 !important;
	position: relative !important;
	top: -37px !important;
	left: 105% !important;
	height: 37px !important;
}

.tblGeneral {
	border-top: 2px solid #4fd6b8 !important;
}

#ui-datepicker-div {
	/*width: 17% !important;
	min-width: 163px;*/
}

.tblGeneral tr th {
	background-color: white !important;
}

.divSucursal {
	width: 76% !important;
	margin: 16px auto 0 auto !important;
}

.titulo {
	color: #006341;
	margin-bottom: 0 !important;
	width: 76% !important;
	margin-top: 40px !important;
}

.titSucursal div {
	color: #000;
}

.contHome {
	background-color: #f3f4f4 !important;
}