@font-face {
	font-family: 'Raleway-Bold';
	src: 
		url('../../fonts/v2/eot/Raleway-Bold.eot?#iefix') 				format('embedded-opentype'),  
		url('../../fonts/v2/otf/Raleway-Bold.otf')  						format('opentype'),
		url('../../fonts/v2/woff/Raleway-Bold.woff') 						format('woff'), 
		url('../../fonts/v2/ttf/Raleway-Bold.ttf')  						format('truetype'), 
		url('../../fonts/v2/svg/Raleway-Bold.svg#Raleway-Bold') 			format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Medium';
	src: 
		url('../../fonts/v2/eot/Raleway-Medium.eot?#iefix') 				format('embedded-opentype'),  
		url('../../fonts/v2/otf/Raleway-Medium.otf')  					format('opentype'),
		url('../../fonts/v2/woff/Raleway-Medium.woff') 					format('woff'), 
		url('../../fonts/v2/ttf/Raleway-Medium.ttf')  					format('truetype'), 
		url('../../fonts/v2/svg/Raleway-Medium.svg#Raleway-Medium') 		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: 
		url('../../fonts/v2/eot/Roboto-Medium.eot?#iefix') 				format('embedded-opentype'),  
		url('../../fonts/v2/otf/Roboto-Medium.otf')  						format('opentype'),
		url('../../fonts/v2/woff/Roboto-Medium.woff') 					format('woff'), 
		url('../../fonts/v2/ttf/Roboto-Medium.ttf')  						format('truetype'), 
		url('../../fonts/v2/svg/Roboto-Medium.svg#Roboto-Medium') 		format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: 
		url('../../fonts/v2/eot/Roboto-Regular.eot?#iefix') 				format('embedded-opentype'),  
		url('../../fonts/v2/otf/Roboto-Regular.otf')  					format('opentype'),
		url('../../fonts/v2/woff/Roboto-Regular.woff') 					format('woff'), 
		url('../../fonts/v2/ttf/Roboto-Regular.ttf')  					format('truetype'), 
		url('../../fonts/v2/svg/Roboto-Regular.svg#Roboto-Regular') 		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Thin';
	src: 
		url('../../fonts/v2/eot/Roboto-Thin.eot?#iefix') 					format('embedded-opentype'),  
		url('../../fonts/v2/otf/Roboto-Thin.otf')  						format('opentype'),
		url('../../fonts/v2/woff/Roboto-Thin.woff') 						format('woff'), 
		url('../../fonts/v2/ttf/Roboto-Thin.ttf')  						format('truetype'), 
		url('../../fonts/v2/svg/Roboto-Thin.svg#Roboto-Thin') 			format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: 
		url('../../fonts/v2/eot/Roboto-Light.eot?#iefix') 				format('embedded-opentype'),  
		url('../../fonts/v2/otf/Roboto-Light.otf')  						format('opentype'),
		url('../../fonts/v2/woff/Roboto-Light.woff') 						format('woff'), 
		url('../../fonts/v2/ttf/Roboto-Light.ttf')  						format('truetype'), 
		url('../../fonts/v2/svg/Roboto-Light.svg#Roboto-Thin') 			format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: 
		url('../../fonts/v2/eot/Roboto-Bold.eot?#iefix') 				format('embedded-opentype'),  
		url('../../fonts/v2/otf/Roboto-Bold.otf')  						format('opentype'),
		url('../../fonts/v2/woff/Roboto-Bold.woff') 						format('woff'), 
		url('../../fonts/v2/ttf/Roboto-Bold.ttf')  						format('truetype'), 
		url('../../fonts/v2/svg/Roboto-Bold.svg#Roboto-Bold') 			format('svg');
	font-weight: normal;
	font-style: normal;
}

/*@font-face {
	font-family: 'HelveticaNeue-Regular';
	src: 
		url('../../fonts/v2/eot/HelveticaNeue-Regular.eot?#iefix') 				format('embedded-opentype'),  
		url('../../fonts/v2/otf/HelveticaNeue-Regular.otf')  						format('opentype'),
		url('../../fonts/v2/woff/HelveticaNeue-Regular.woff') 						format('woff'), 
		url('../../fonts/v2/ttf/HelveticaNeue-Regular.ttf')  						format('truetype'), 
		url('../../fonts/v2/svg/HelveticaNeue-Regular.svg#HelveticaNeue-Regular') 			format('svg');
	font-weight: normal;
	font-style: normal;
}*/


@font-face {
	font-family: 'Proxima_Nova_Bold';
	src: url('../../fonts/v2/eot/Proxima_Nova_Bold.eot');
	src: url('../../fonts/v2/eot/Proxima_Nova_Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/v2/svg/Proxima_Nova_Bold.svg') format('svg'),
		url('../../fonts/v2/woff/Proxima_Nova_Bold.woff') format('woff'),
		url('../../fonts/v2/ttf/Proxima_Nova_Bold.ttf') format('truetype');       
	font-weight: normal;
	font-style: normal;
}

/* Proxima Nova Regular */
@font-face {
	font-family: 'Proxima_Nova_Regular';
	src: url('../../fonts/v2/eot/Proxima_Nova_Regular.eot');
	src: url('../../fonts/v2/eot/Proxima_Nova_Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/v2/svg/Proxima_Nova_Regular.svg') format('svg'),
		url('../../fonts/v2/woff/Proxima_Nova_Regular.woff') format('woff'),
		url('../../fonts/v2/ttf/Proxima_Nova_Regular.ttf') format('truetype');       
	font-weight: normal;
	font-style: normal;
}

/* Helvetica Neue LT Std Light */
/*@font-face {
	font-family: 'HelveticaNeueLTStd-Lt';
	src: url('../../fonts/v2/eot/HelveticaNeueLTStd-Lt.eot');  
	src: url('../../fonts/v2/eot/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  
		url('../../fonts/v2/woff/HelveticaNeueLTStd-Lt.woff') format('woff'), 
		url('../../fonts/v2/ttf/HelveticaNeueLTStd-Lt.ttf') format('truetype'), 
		url('../../fonts/v2/svg/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
	font-weight: normal;
	font-style: normal;
}*/